[2014-12-04 22:58] dubrousky opened #10 "Plugin does not compile for IntelliJ Idea 14"
Plugin does not compile for IntelliJ Idea 14
[code]
and the next one.

[2014-12-21 16:45] Arbitrageur opened #11 "Expand selection(CTRL+W), navigation keymaps..."
I'm just trying to use IntelliJ as Mathematica IDE.
However, ctrl + w is not working as described on the web site.
Or other navigation keys like ctrl+[, ctrl+]..
In fact, there's no key binding for these.

Please let me know how to define those key bindings.

I'm using Mac OS X 10.10.1 and IntelliJ 14.0.2

Thanks.

[2015-01-12 06:55] #11 closed

[2015-02-02 08:45] #10 closed

[2015-07-08 03:33] yi-si opened #13 "Does not support greek letters"
<img width="530" alt="screen shot 2015-07-07 at 8 30 48 pm" src="https://cloud.githubusercontent.com/assets/11506725/8562431/1fa73f98-24e7-11e5-99c9-82e791c814b2.png">

As I am working with .m (instead of .nb) files directly, I really hope that I can use greek letters like μ, other than Mathematica notations like \[Mu]. However, it seems that Mathematica-IntelliJ-Plugin does not think greek letter

[2015-07-08 19:46] halirutan commented on #13
I'm aware of this and it was on purpose to not support unicode characters. There are several reasons for this. Let me point out the most important ones:

Inside *Mathematica* you can use a very large number of characters for variable names and functions. This is by far not restricted to greek letters. Even very obscure things are possible:

![special char](http://i.stack.imgur.com/ZM5Hm.png)

or

[2015-07-08 20:01] yi-si commented on #13
Thanks for the detailed explanation! I understand these points. It is reasonable to avoid using Unicode characters in source code.

[2015-07-17 02:00] halirutan commented on #13
@yi-si Well, surprise, surprise..

![screenshot from 2015-07-17 03 56 45](https://cloud.githubusercontent.com/assets/511683/8739117/e0c26f66-2c37-11e5-9c42-620629058cda.png)

Would you mind to download the version [v0.3.6.1](https://github.com/halirutan/Mathematica-IntelliJ-Plugin/releases/tag/v0.3.6.1) and test it very carefully? You just have to save the `Mathematica-IntelliJ-Plugin-bin.zip` fil

[2015-07-17 02:39] yi-si commented on #13
I love this more than I can tell! Thanks!

Patrick Scheibe <notifications@github.com>于2015年7月16日 周四下午7:00写道：

[2015-07-20 18:36] thompcinnamon opened #15 "Incorrect string recognition after Put"
The line `FullDefinition[output] >> "mathematicaHILLS.m"` gets the feedback "Could not parse right hand side of Put or PutAppend expression" as well as essentially missing the first quote symbol. It interprets it as opening a string at the end of the line that is then never closed.

The code runs just fine in Mathematica.
I do not know if this is an issue with the plugin or something from Mathemat

[2015-07-20 18:57] halirutan commented on #15
Definitely a bug in the plugin. I know when this was introduced and why it happens. Thanks for reporting back.

[2015-07-20 19:41] #15 closed

[2015-07-20 19:51] halirutan commented on #15
Would you please use and test this [Mathematica-IntelliJ-Plugin-bin.zip](https://github.com/halirutan/Mathematica-IntelliJ-Plugin/releases/tag/v0.3.6.2)? In IDEA go to Settings -> Plugins and use "Install from Disk". If there are no bad surprises with this fix, I'll push it to the main repository so that it is delivered to all other users. Thanks

[2015-07-20 20:07] thompcinnamon commented on #15
![screen shot 2015-07-20 at 4 02 28 pm](https://cloud.githubusercontent.com/assets/8083606/8785889/e4041e40-2ef8-11e5-94c7-cf55597e5740.png)

Seems to work now, and I don't see any other apparent issues.

I also appreciate the added "missing semicolon" because that has killed my under-development packages many times!

[2015-07-21 03:20] halirutan commented on #15
About the missing semicolon: At first I hesitated to include this, because it basically seems coding standard to **not** put semicolons after expressions in a package file. On the other hand, only advanced users understand that while

    expr1
    expr2

are two different expressions that are evaluated one after another at file scope, something like this

    {
      expr1
      expr2
    }

is p

[2015-07-22 03:01] #13 closed

[2015-10-10 16:22] szhorvat opened #17 "<-> oprator is not supported"
`a <-> b` is equivalent to `UndirectedEdge[a, b]`.  This syntax is not supported by the plugin.

![image](https://cloud.githubusercontent.com/assets/1212871/10412103/ae85d146-6f7b-11e5-831e-c4becc6b1d47.png)

[2015-10-11 14:25] halirutan commented on #17
Fixed by [version 1.3](https://github.com/halirutan/Mathematica-IntelliJ-Plugin/releases/tag/v1.3)

[2015-10-11 14:25] #17 closed

[2015-10-12 14:54] xslittlegrass opened #18 "greek letter in comment"
It looks like that "Collapse all [Name] sections" works for greek letters in the usage message but not for greek letters in the comments.

For example:

![snip20151012_4](https://cloud.githubusercontent.com/assets/2780075/10430929/8a7ff216-70c7-11e5-85f1-35280de4fc08.png)

[2015-10-26 01:59] halirutan opened #19 "Implicit Times inspection uses 100% CPU"
When there is an error in the file and the implicit times inspection (missing comma, missing semicolon) is turned on, then the CPU usage increases dramatically.

![screenshot](http://i.stack.imgur.com/2FRle.gif)

[2015-10-28 04:22] halirutan opened #20 "Indentation of <| ... |>"
It would be an improvement if the indentation of  <| worked in the same way as {.
For multiline <|s the current behavior looks ugly as it is regarded as normal operator with continuation indent.

[2015-10-29 04:30] #19 closed

[2015-10-29 04:30] #20 closed

[2015-10-29 14:16] kubaPod opened #21 "coloring non built-in symbols"
Works, can be done with setting a color for "Identifier", but:
- Identifier is not the best name (maybe  Other symbols)
- In an example "Module" is colored too and that is completely confusing (it works ok in editor though)

[2015-10-31 09:00] kubaPod opened #22 "new live templates candidates"
Subjective thoughts about additional templates:
- set attributes for a symbol, analogical to set options

[2015-10-31 09:56] halirutan commented on #22
Easily possible and I will add it in the next release.

[2015-12-04 22:06] kmisiunas opened #24 "Spellchecking for comments and strings"
Feature request: activate spell checking for comments and strings. Will help produce higher quality documentation. Also, thank you for making this plugin!

[2015-12-07 01:07] halirutan commented on #24
It seems you didn't see our [Trello Roadmap Board](https://trello.com/b/qnblZBJi/mathematica-intellij-idea-plugin-roadmap) where you can vote for features?

I have put a link to the board on [my official Plugin Website](http://wlplugin.halirutan.de/). For *personal evaluation*, could you tell me whether you have checked the site or other resources? I want to know where I have to put news so that m

[2015-12-07 01:41] kmisiunas commented on #24
Did not see that you had Trello for this. Thanks for pointing it out.

I have seen the website, and it was useful the first time I started using the plugin. Thanks! But this time I did not check it, and went straight for github. I guess it is bit of a habit for me. Maybe it is worth adding the plugin on the GitHub's readme page as well.

Thank you for developing it. I used to use sublime + Mathema

[2015-12-07 02:15] halirutan commented on #24
The reason I ask is because we [discussed in chat](http://chat.stackexchange.com/rooms/8636/intellijidea-plugin-for-mathematica) what the best strategy is to reach users that are willing to give feedback. There are a million ways today: GitHub, Webpage, LinkedIn Group, Stackexchage, Twitter, Facebook etc and I'm not able to keep everything up to date. Therefore, your feedback is important.

The 3

[2015-12-08 11:45] szhorvat opened #25 "Nitpicks on stringifying operators"
These are nitpicks, and not worth spending time on. But since I found some documentation on how `<<` & friends work (and how they differ from `#` and `::`), I might as well put the link here.

`<<`, `>>`, `>>>`, `::` and `#` turn the following unquoted text into a string.

The first three are designed to be used with file names.  The characters that can terminate the string are described [here](ht

[2016-03-13 15:28] alpha358 opened #26 "Collapse more symbols"
`\[Eth]` <-- plugin does not collapse this symbol.

[2016-03-14 20:15] szhorvat opened #27 "Local variables are not properly highlighted in Do"
Local variables are not properly highlighted in `Do`.

Example:

![image](https://cloud.githubusercontent.com/assets/1212871/13758425/bd884128-ea29-11e5-9001-2a7644e440cb.png)

Plugin version 1.3.2.

[2016-03-15 02:58] halirutan commented on #27
Fixed in v1.3.3

[2016-03-15 02:58] #27 closed

[2016-03-15 02:58] halirutan commented on #26
fixed in v1.3.3

[2016-03-15 02:58] #26 closed

[2016-03-15 07:44] szhorvat opened #28 "Built-in symbol highlighting broken in 1.3.3"
Built-in symbol highlighting got broken in 1.3.3.

![image](https://cloud.githubusercontent.com/assets/1212871/13770833/1aeac812-ea8a-11e5-9d83-72d457b9c2d4.png)

Module, If, While, True, etc. should be blue but they are white.

However, explicitly writing the context name highlights them again.

![image](https://cloud.githubusercontent.com/assets/1212871/13770902/731fe99a-ea8a-11e5-8729-62b57c2b3

[2016-03-15 11:02] alpha358 opened #29 "Feature suggestion: Collapsing subscripts"
Is it possible to make subscripts collapse ?
For example:
`\!\(\*SubscriptBox[\(\[Phi]\), \({a, b}\)]\)`
![image](https://cloud.githubusercontent.com/assets/17505314/13775646/61d73c32-eaae-11e5-972f-1c72484904b3.png)

[2016-03-15 11:10] halirutan commented on #28
Yes, I'm sorry. I reworked the whole thing how I store information about symbols and I now included context even for ``System` `` variables. This broke the highlighting since I didn't notice this commit went into the last release.

Fixed in 1.3.4

We definitely need to have a look at this whole mechanism since it doesn't take into account the the user could include packages etc.

[2016-03-15 11:10] #28 closed

[2016-03-15 11:12] szhorvat commented on #29
What would you expect it to collapse to?  A display like this?

![image](https://cloud.githubusercontent.com/assets/1212871/13775653/0b27645a-eaa6-11e5-8ad4-b853a72e59ae.png)

That would involve having to display special formatting which may not play well with the rendering of text with fixed-width characters.

There is also another issue here.  What is it that you want to collapse?  `Subscript[\[

[2016-03-15 11:20] szhorvat commented on #29
I'm wondering if it would be possible to have strings like this rendered by Mathematica itself (when the plugin gets good Mathematica integration) and display them as a tooltip or similar.

I'm thinking of how [preview-latex work within Emacs](https://www.gnu.org/software/auctex/preview-latex.html).  The formulas can be shown in graphical rendered form or editable textual form.

It still seems lik

[2016-03-15 16:31] halirutan commented on #29
@szhorvat described the situation pretty well. Box-Expressions are not supported by the plugin and although it seems like a minor thing to support folding of things like subscripts it's not. The box representation as it is used by the front end needs to be parsed separately as it is not simple Mathematica code.

However, the important point is that the plugin is not meant to compete with the front

[2016-03-18 13:15] #29 closed

[2016-04-04 01:49] halirutan opened #30 "Smart completion of Options does not work"
Smart completion of Options - not work (after `Ctrl+Shift+Space` - red box 'No suggestions')

[code]

same situation on Windows on other machine
same in PyCharm

![screenshot_1](https://cloud.githubusercontent.com/assets/511683/14236584/366aa740-fa18-11e5-89c5-85bff95635a6.png)

[2016-04-10 21:32] halirutan opened #31 "Repeated is not recognized"
In the following code

[code]

the `Repeated` statement seems to confuse the plugin. The code is flagged as an error with the description "More input expected". I'm using  Idea 2016.1.1 with the Plugin Version: 1.3.4 on Fedora Linux 22.

[2016-04-10 21:37] halirutan opened #32 "Variable resolve in With idiom"
In the very convenient idiom

[code]

the rhs of the assignment is a reference to the lhs which is wrong. It should have a reference outside of the With

[2016-04-10 21:40] halirutan opened #33 "Unclosed comment at file-end doesn't raise an error"
Related question: https://devnet.jetbrains.com/thread/460953

Seems to be a problem of the framework itself. Cannot be fixed currently.

[2016-04-10 21:45] halirutan opened #34 "Complete support for named slots"
Currently, only this kind of named-slots are supported: `#name`
I knew that there was another form like `#["name"]` that is still not included into the plugin, but apparently even the form `#"name"` is valid. See this discussion on [stackexchange](http://mathematica.stackexchange.com/questions/68870/did-10-0-2-break-some-forms-for-named-slots) for more information.

[2016-04-10 21:45] halirutan commented on #34
Fixed in current version 1.3.5

[2016-04-10 21:45] #34 closed

[2016-04-10 21:46] halirutan opened #35 "Help for exporting function names"
When writing a function it would be nice if there was a simple way to export the symbol from the package by e.g. creating a usage message at the right place.

[2016-04-10 21:47] halirutan opened #36 "Completion inside strings"
It would be extremely helpful if one could (actively) autocomplete function names inside strings. In addition one could provide further help which only makes sense in strings.

[2016-04-10 21:49] halirutan opened #37 "Review parsing of implicit multiplication"
I find it very unfortunate, that you can simply write (missing comma)

[code]

Note that this is correct synax (although not sematic)!! I'm not sure whether it isn't better to try to fix this. Currently it is even parsed not correctly!

[2016-04-10 21:49] halirutan commented on #37
Fixed in version 1.3.5

[2016-04-10 21:49] #37 closed

[2016-04-10 21:51] halirutan opened #38 "Color-settings-panel is missing some colors"
The colorsettings panel does not represent all possible colors that can be adjusted. For instance the local variables of Module/Block are missing. We need to adjust the demo-text at

[code]

and then fix the code at `de.halirutan.mathematica.codeinsight.highlighting.MathematicaSyntaxHighlighterColors`. To include all color-settings we need to support

[code]

[2016-04-10 21:53] halirutan opened #39 "Reference in blank head not found"
In this code

[code]

`myHead` in the pattern is not highlighted when you are over the `myHead` in the first line, although the first reference is highlighted.

[2016-04-10 21:54] halirutan commented on #39
This is an issue inside the IDEA framework. The referencing works correctly, only the highlighting doesn't work. Need time to look into this again.

[2016-04-10 21:55] halirutan opened #40 "Make SmartCompletion for `Check[..,..,mess::age]`"
In

[code]

it should be possible to complete the message automatically. Additionally, it should be considered to do something similar for `Quiet`  and `Throw`  and `Catch`.

[2016-04-10 21:57] halirutan opened #41 "Pretty printing/exporting of Mathematica code"
The [copy-on-steroids](https://github.com/denis-zhdanov/intellij-plugin-copy-on-steroids) plugin rocks like hell, because you can copy and past source code as RTF or HTML with all highlighting included. If we could work this logic into the Mathematica plugin, you could export fully highlighted and indented Mathematica code (probably as PDF for publications).

Unfortunately, in its current state th

[2016-04-10 21:58] halirutan opened #42 "Spellcheck on Mathematica built-in functions"
Is it possible to auto-include all known Mathematica functions and symbols to the spellchecker so that they won't be underlined?

[2016-04-10 21:58] halirutan opened #43 ".WolframResources file support"
Workbench 3 (beta) seems to create projects with a resource file called `.WolframResources` instead of `.MathematicaResources`. Not critical, but it would be nice if that would also be detected as a IntelliJ Mathematica project.

[2016-04-11 01:43] halirutan commented on #31
## One word as defense of the current implementation

In the [Operator Input Form](http://reference.wolfram.com/language/tutorial/OperatorInputForms.html) tutorial that should list all things with decreasing precedence, clearly on the top of the table one finds forms representing numbers. This means, that number forms tokenize together in precendence of other things and since this document was one

[2016-04-11 08:46] vsht commented on #31
Thanks for the explanation and the workaround (the bug was originally filled  by me).

You should consider updating README.md, since the statement

made me think that  I should report bugs on YouTrack.

Cheers,
Vladyslav

[2016-04-11 09:14] szhorvat commented on #34
`#name` and `#"name"` are equivalent.  The latter form is to allow for spaces and other non-alphanumeric characters in the slot name.

But `#["name"]` is something different.

See their FullForms.

[2016-04-11 10:23] halirutan commented on #31
@vsht Yes, I will update the readme. I already changed the website and forgot that I have mentioned the bugtracker in the readme. Btw, sometimes we discuss things [here in chat](http://chat.stackexchange.com/rooms/8636/intellijidea-plugin-for-mathematica).

[2016-04-11 13:36] halirutan commented on #34
I know that their `FullForm` is different, but is there any practical relevance where it is important whether I use the `#"Test"` or `#["Test"]`?

I know that the `#Test` has obvious restrictions because `Test` needs to be a valid identifier.

[2016-04-11 16:13] rsmenon commented on #31
A simpler workaround would be to write `f[0 ..]` or `f[0. ..]`. Not only is this unambiguous for the parser, it is unambiguous for the human as well and is definitely cleaner code.

I would strongly argue for keeping the current behavior as is and not add any additional complexity to the parser to try and match the behavior of the front end (which, btw, is not documented anywhere). I think that th

[2016-04-11 16:24] vsht commented on #31
Well, I usually develop in Wolfram Workbench, where `f[0..]` is not consider an error. So it is not the front end behavior that I'm looking for.

I think one should also explicitly distinguish between obvious syntax errors and "bad" coding style. So if the plugin considers `f[0..]` to be bad style, it should write it like that but not flag it as an error, since the code by itself works.

Anyhow, I

[2016-04-11 18:43] rsmenon commented on #31
That is a fair point actually. I think it is reasonable to expect an ambiguous-but-correct-syntax to not show up as a syntax error. Or at the very least, it should display a more helpful text suggesting an alternate style when hovering on the error.

I think showing a "helpful message on error" might be easier since it can be handled in the annotations, whereas "not showing an error" would certain

[2016-04-12 07:18] szhorvat commented on #34
Sorry, I shouldn't respond when I'm so tired.  I understand your point now.

[2016-04-12 07:21] szhorvat commented on #34
One practical difference is what happens when the association we pass to the function doesn't have the requested key.

![image](https://cloud.githubusercontent.com/assets/1212871/14452582/e44420f8-008f-11e6-9844-45b53ad53394.png)

[2016-04-13 00:17] halirutan commented on #31
@vsht @rsmenon Unfortunately, it doesn't matter if I chose to make the plugin accept the code or make it highlight it as warning. In any way, the parser and especially the lexer needs to be adapted. Currently, the recognition of numbers is a big, nested regular expression to include all possible cases how numbers can be written.
To recognize the cases where the number has a dot at the end like `42

[2016-04-13 00:35] halirutan commented on #34
OK. For our purpose in the plugin, it is important that I recognize the slots as slots to make referencing possible. The evaluation behavior shouldn't concern us at this moment.

[2016-04-18 18:37] daliagachc opened #44 "definitions inside lists are not recognized/cataloged by the plugin."
I just noticed that if you define a variable/function inside a list, it is not recognized by the plugin. For example:
{
var = "var";
f[]:="function";
}
both var and f will not be cataloged by the plugin.
Notice that although its not common practice to define variables like this, it is perfectly fine to do so in the notebook interface.

On a side note, I cant thank you enough halirutan for the plug

[2016-04-20 12:55] halirutan commented on #44
Well, it is cataloged. If you open the StructureView (Alt+7), then you see indeed the definition for the symbols. What you probably mean is that it is not displayed in the autocompletion window when you type because these two things are unrelated. The StructureView is expensive to build up because finding definitions is not simple at all and I had to make an active decision on how to proceed exact

[2016-06-21 12:29] szhorvat opened #46 "Autocompletion for symbols mentioned at top level"
Personally I would find it useful to enable autocompletion for all symbols mentioned at the top level.  Example:

[code]

There will be no auto-completion at the top level for `x`, `y`, `bar` and `baz`.  There will be for `foo`.

I would find it useful to also have it for `bar` and `baz`.

There are situations when some global symbols I use do not get defined at the top level for some reason.  I w

[2016-06-28 00:23] Axure opened #47 "No way to set highlight color for local variables"
The setting for the color of local variables (bordered in the picture) seems missing. It seem to inherit from some other settings (or not), and there is no way to change it.

![mathematica intellij](https://cloud.githubusercontent.com/assets/3424317/16399904/2428a7b0-3d09-11e6-88b4-c02e58fe910a.png)

[2016-06-28 01:36] halirutan commented on #47
Yes, it is correct the it is currently not possible to set all available colors from within the color-setting panel. There is a hack around it if you want to change it right now:

- download the [color xml file](https://github.com/halirutan/Mathematica-IntelliJ-Plugin/tree/develop/resources/colors) for the scheme you are using
- download the [latest plugin zip](https://plugins.jetbrains.com/plugin

[2016-06-28 01:53] halirutan commented on #46
The behavior is on purpose, but not to annoy you. It is to keep the highlighting and autocompletion performance high. It is kind of related to an [issue that I fixed](http://chat.stackexchange.com/transcript/message/16395949#16395949) a while ago.

Therefore, there are certain restrictions when a symbol is considered to have values defined. One restriction is that it really needs to be given a val

[2016-06-28 08:24] kubaPod commented on #41
closely related: [How to convert a notebook cell to a string retaining all formatting, colorization of identifiers etc?](http://mathematica.stackexchange.com/q/27171/5478)

[2016-06-28 08:47] kubaPod opened #48 "Move to the definition (Workbench's F3)"
I think it is useful to have a shortcut for doing this:

having selected a symbol, or a cursor inside/right after, move to the line where the first definition of that symbol is found.
- the definition can be in **different file** from the project,
- when selected e.g. ``Context`symbol``, or right after, it doesn't need to be able to find a definition which isn't using a full name (e.g. `symbol[x_]

[2016-06-28 13:19] Masterxilo opened #49 "Suggestion: Warn about implicit multiplication at the end of a line"
I run into this quite often:
[code]

The first line is missing a comma. But the code is parsed and executed correctly and gives undesired results.

[2016-06-28 13:28] szhorvat commented on #49
This is available and you can turn it on under Inspections in the preferences.  I *thought* it was on by default.

[2016-06-28 13:32] halirutan commented on #49
Can you give a complete example? Commas in Mathematica can only appear in a list, in function arguments or in things like `Part` (`[[..]]`) for instance. When I use a list in Idea with this content, I get the following annotation:

![screen shot 2016-06-28 at 15 25 52](https://cloud.githubusercontent.com/assets/511683/16417153/0e4cadd8-3d45-11e6-8e74-a15cef6cca2a.png)

This shows a slightly yellow

[2016-06-28 13:45] Masterxilo commented on #49
I changed the missing comma inspection to generate an error instead of just an annotation because I never make cross-line multiplications without * intentionally, thanks for pointing out where to find the Inspection options.

Anyways, it does not seem to work within Association and [[ ]], but it does work within function arguments and {}:
![image](https://cloud.githubusercontent.com/assets/2378665

[2016-06-28 13:51] szhorvat commented on #49
For some amusement:

Actually the following is correct syntax:

[code]

It parses to `{a, Null}`.  However, the Mathematica parser built into the kernel generates a warning in the form of a message.  The parser built into the front end does not ...

The message happens to be of the `Syntax::` type which causes the front end to freak out and colour the cell bracket red, as if there were a syntax *e

[2016-06-28 14:25] halirutan commented on #49
@Masterxilo You are right, the annotator currently only dives into lists and function calls. I'll fix this.

@szhorvat I gave this a long thought whether or not I allow the parser to say `Function[,#+3,{Listable}]` is correct syntax (one of the things Leonid loves to confuse newbies :-).
I decided against it because if someone really needs a `Null`, he just has to type it for the greater good of a

[2016-06-28 14:28] szhorvat commented on #49
The SciDraw package actually has its own warning, along the lines of: "I found a Null, stray comma?".

I think they should either have made it a fatal parsing error, or otherwise the parser should just ignore trailing commas (like in C and Python).

[2016-07-01 16:15] Masterxilo opened #50 "Suggestion: Add support for MathLink/WSTP .tm files"
.tm files are processed by

[code]

or

[code]

to produce .c code necessary to build an application that can be `Install[]`ed as an external program.

Here's an example of mine:

[code]

It would be nice if the plugin recognized these files (basically just the tags) and could act accordingly.
Even just highlighting/autocompleting the keywords and not counting them as syntax errors would be enough

[2016-07-06 06:59] kubaPod opened #51 "Drop support for *.nb"
After installation of the plugin the first thing to do is to drop *.nb from supported files and associate files with MMA executable.

I don't know if the latter is possible from plugin perspective but the former should be relatively easy to change.

p.s. Sometimes I want to open *.m files with MMA, I had to add MMA executable to external tools and I can open .m file from context menu. Maybe that c

[2016-07-06 08:00] szhorvat commented on #51
So to make it clear, all we want is for notebook files to open with Mathematica by default, without having to change settings to achieve this.

[2016-08-12 10:03] kubaPod opened #52 "Improvement of syntax highlighting for full names of symbols inside scoping constructs"
![image](https://cloud.githubusercontent.com/assets/15227576/17619294/a56021f2-6084-11e6-87b7-6fe75d375e68.png)

I'd expect Test`x to not be green. Nothing major, just reporting.

[2016-08-16 09:08] kubaPod commented on #47
@halirutan  is it possible to edit that file to reflect SyntaxInformation of custom scoping constructs?

[2016-08-16 22:50] halirutan commented on #47
@kubaPod This file is really only for choosing the color. The highlighting itself, and especially the logic that traces local variables, is done in code and not easily accessible.

[2016-08-17 06:34] kubaPod commented on #47
@halirutan  even if the custom function have the same structure as With? Is there any shortcut? I don't need to do this for many symbols but I use one as a part of a "framework" I'm working on and it would be very nice to have its variables highlighted, even more if that can be done in different color than Module or patterns.

[2016-08-29 17:21] Masterxilo opened #53 "Enhancement: `{x = 5}~With~x` support"
I sometimes write `With` statements like this, but the plugin unfortunately does not recognize them (meaning the `x` is not properly highlighted on the rhs).
A more uniform handling of binary operators should allow doing this.

Interestingly, not even the MM 11 notebook interface supports this.

[2016-08-30 12:33] Masterxilo opened #54 "Enhancement: `With[{x=0},{y = x}, ...]` support"
An undocumented feature of `With` is that it allows for constructs like

[code]

where it is possible to define variables like `y` using earlier defined variables. However neither this nor the official IDE or _Mathematica_ support this. In _Mathematica_ this construct evaluates correctly but the syntax-highlighting suggests an error:

![Mathematica graphics](http://i.stack.imgur.com/ESRXP.png)

[2016-08-30 15:48] halirutan commented on #54
The feature itself is really nice. From the viewpoint of the IDE it is not so nice, because currently, I can handle `Module`, `Block` and `With` with the same algorithm. There are other localization constructs like `Compile`, `Table`, `Manipulate`, etc. and all of them have different ways how where the variables that these functions localize are defined.

As far as I can see, it should not be too

[2016-08-30 18:33] szhorvat commented on #54
I wonder which version added this. In 10.0 it doesn't work. In 10.3 it does.

[2016-08-30 18:37] halirutan commented on #54
@szhorvat I'm also somewhat careless about having every single version installed these days. 4GB download size of *Mathematica* 11 says it all. I have 8.0, 9.0, 10.3.1 and 11.0 currently on my Linux box.

[2016-08-31 00:04] halirutan commented on #53
The problem you face here is larger than you might think. The highlighting (in *Mathematica* or in IntelliJ) is based on the source-code in its unevaluated form: the abstract syntax tree (AST). Everything else could not be guaranteed to work quick enough. Therefore, to start with a simple example please look at the following snipped of code

[code]
It's clear that `f` is `With` but still the highl

[2016-08-31 00:04] #53 closed

[2016-08-31 02:25] Masterxilo commented on #53
I completely understand the argumentation that the parser should not need to be turing complete. But "a~f~b" is a syntactic-variant, not a runtime-variant on "f[a,b]".

The notebook's parser knows this, correctly highlighting the right parts when stepping through the expression tree with Ctrl+.

[2016-08-31 17:30] halirutan commented on #53
Well, the situation in the frontend is entangled enough and you cannot strictly speak about *the* notebook's parser. There is something working that turns code you are typing into the box-form and as your example clearly shows, this box-form is not equivalent to a syntax or parse tree.

I remember a chat with John Fultz, the lead FE developer and he said "I wrote several parsers for different task

[2016-09-02 06:37] kubaPod opened #55 "Not used local variables indicator"
I must say I find it useful, yet not essential. If it is easy to add it would be nice.

Here is a screenshot with WWB enchanced Eclipse editor:

![image](https://cloud.githubusercontent.com/assets/15227576/18194793/8438656a-70e8-11e6-84e1-21d030cc2b3e.png)

[2016-09-04 21:08] rgatkinson opened #56 "Wrapping behavior on paste"
When I paste in code from elsewhere (such as an existing .nb) into a .m I'm editing in Idea, it always seems to word-wrap (at 80 columns, I think).

Is there some way to disable this behavior, or, at least, to set the wrapping threshold to something much larger?

[2016-09-04 21:52] halirutan commented on #56
Is my assumption correct that by *from elsewhere* you mean *from Mathematica*? If yes, can you please try to use <kbd>Strg</kbd>+<kbd>Shift</kbd>+<kbd>C</kbd> or the context menu "Copy As" -> "Plaintext" to copy the code?

Does this solve the problem? Btw, it has nothing to do with IDEA.

[2016-09-05 00:00] rgatkinson commented on #56
Thanks. Copy As / PlainText demonstrates that the problem is indeed on the copying side, not the pasting side.

[2016-09-05 00:00] #56 closed

[2016-09-13 23:16] simonkeys opened #57 "Enhancement: code folding for sections"
It would be great if code folding were supported for the standard section, subsection, etc comments:

[code]

Or it might require adding an "end section" comment, like this?

[code]

Failing that, is there a way to get the built-in custom folding regions, e.g.,

[code]

to work in a Mathematica package file?

[2016-11-28 04:02] halirutan commented on #55
Sounds like a good plan. I will work on this.

[2016-11-28 08:14] szhorvat opened #58 "Refactoring: change text in usage messages"
This is a feature suggestion.

When renaming symbol `f` to `g` using the refactoring tools,

    f::usage = "f..."

should change to

    g::usage = "g..."

provided that the usage string starts *exactly* with `f`.

[2016-11-28 10:50] szhorvat opened #59 "Pattern not highlighted properly"
The following pattern isn't highlighted properly:

![image](https://cloud.githubusercontent.com/assets/1212871/20665661/c45e9b7a-b560-11e6-88e0-520691b4b6b0.png)

    Replace[result, HoldComplete[ReturnPacket[{_ :> expr_}]] :> HoldComplete[expr]]

Compare the Front End:

![image](https://cloud.githubusercontent.com/assets/1212871/20665686/d62c50d6-b560-11e6-92c0-7121a26fa939.png)

[2016-11-28 16:12] halirutan commented on #59
Yes, it's a problem in the resolver of `expr` on the right side. It seems I don't dive into `HoldComplete` or the resolver gets confused with the `_ :> expr_` part. I can find the reason for the behavior fast, but I think we need to discuss the general approach of how symbols are resolved. I'll look into to this.

[2016-11-29 03:44] halirutan commented on #59
Upfront, it is not going to be a quick fix, but we decide to go for it, I'm all in because it means that we can improve the highlighting of locally bound variables (patterns in rules and function definitions, and highlighting of `Module` and friends). As it stands, what you are using for so long now is still my first implementation of how to find locally bound symbols.

OK, let's start a bit of ex

[2016-11-29 03:49] halirutan commented on #54
@Masterxilo Quick update:

This is implemented now and if I'm going to work on #59, I'll guess I can implement this as well.

[2016-11-29 04:25] halirutan commented on #58
Renaming works by reference resolving. Therefore if you have

[code]

the renaming of `myFunction` works because the point of declaration and all its usages are found an algorithm. The standard renaming works by renaming all found instances of `myFunction`. My hope is that I can *extend* the default `RenameHandler` by visiting all elements that are going to be renamed and check if one of the const

[2016-11-30 09:53] halirutan commented on #47
This is fixed int the development version and will be published soon.

[2016-11-30 09:53] #47 closed

[2016-12-18 12:19] szhorvat opened #60 "Refactoring is broken"
I have 2.0.11.  There is something wrong with symbol renaming.  While editing the name of a symbol, it updates all occurrences. But after pressing Enter to finalize the edit, only a single occurrance of the name changes.  The rest reverts to the original form.

Here's a screen recording:

![untitled3](https://cloud.githubusercontent.com/assets/1212871/21293433/9ddea098-c524-11e6-8581-e4db2a52e3c5.

[2016-12-18 16:47] halirutan commented on #60
This is unfortunate. I'll look into it. Can you provide this small snip of code for testing, because I don't see the issue on my machine.

[2016-12-18 18:56] szhorvat commented on #60
Try a symbol with `$`.  Put this at the top level of a file and rename `$foo`.  Can you reproduce it like this?

[code]

[2016-12-18 19:02] szhorvat commented on #58
This is now implemented.

[2016-12-18 19:02] #58 closed

[2016-12-18 19:05] szhorvat commented on #48
There's this:

https://www.jetbrains.com/help/idea/2016.3/navigating-to-declaration-or-type-declaration-of-a-symbol.html

It goes to the first occurrence, which may be the usage message.

[2016-12-18 19:08] szhorvat commented on #41
This works on Mac. There's Edit -> Copy and Edit -> Copy as Plain Text.  When copying as normal text, I can paste into rich text documents in TextEdit.app (not in all apps)

![image](https://cloud.githubusercontent.com/assets/1212871/21295829/b9a14b62-c55d-11e6-9792-7351c1fb9061.png)

[2016-12-28 01:59] halirutan commented on #60
This is a bug in Idea. I have hacked around this issue and it should work in one of the next releases

[2016-12-28 01:59] #60 closed

[2016-12-28 03:19] halirutan commented on #48
I think you will be delighted to hear, that I have started a "goto related" handler that can be called on every global symbol and gives you instantly a dialog from which you can choose where you want to navigate

![gototarget](https://cloud.githubusercontent.com/assets/511683/21513087/cab946da-ccb4-11e6-9ba3-141bf039e8d3.png)

[2016-12-28 09:29] szhorvat commented on #60
It seems the problem is still there in 2.0.13, but I suggest we just wait for Idea to fix the underlying cause.

Do you have an insight into when renaming is unreliable?  Is it only when there is a `$` in the name?

![image](https://cloud.githubusercontent.com/assets/1212871/21518639/9940b548-ccf0-11e6-9c60-69ce15a03ef3.png)

![renaming](https://cloud.githubusercontent.com/assets/1212871/21518658/

[2016-12-28 12:58] halirutan commented on #60
No it works, I just haven't included it in this built. I'm sorry for the confusion.

[2016-12-28 12:59] szhorvat commented on #60
Great! :-)  Thank you.  I didn't hope for much after you said that it was an Idea bug.

[2016-12-28 13:02] halirutan commented on #60
A new built is coming shortly when Travis has finished. Please try this one.

[2016-12-28 13:07] szhorvat commented on #60
It works fine in 2.0.14.

[2016-12-29 14:16] halirutan commented on #52
@kubaPod I have almost reworked everything and this should be fixed now. The thing is, that this fix required changes in almost every place where the (possibly implicit) context and the name of a symbol are used. This includes

* resolving of definitions and usages of symbols
* code completion for globally and locally defined symbols
* highlighting of built-in, global and local symbols
* annotator

[2016-12-29 14:16] #52 closed

[2017-01-03 00:26] halirutan opened #61 "Not possible to create SDK on Windows"
On Windows the installation directory structure is different from Unix and therefore, it is not possible to select an installation directory when creating a Mathematica SDK. It always returns "no valid installation path"

[2017-01-03 01:14] #61 closed

[2017-01-18 17:06] halirutan opened #62 "Comment logic is buggy"
Several things don't work as they should work:

* opening a comment should insert the closing `*)` automatically
* using SmartCompletion leaves wrong code

[2017-02-22 02:06] halirutan opened #63 "Support of (* ::Subsection::Closed:: *)"
Support of the structures like
(* ::Subsubsection::Closed:: *)
(*Section Title*)
is highly appreciated!

Was reported by a guest [here](https://halirutan.myjetbrains.com/youtrack/issue/MMAP-92).

Sidenote: The smart completion in comments doesn't work as advertised. I need to look over this anyway.

[2017-02-25 20:10] drewsteinacher opened #64 "Multiple click to extend selection"
Thanks for the great work on this plugin! I really like it!
However, it's missing one feature that's very important to me: Multiple click to extend selection.

I am aware that the editor already supports Ctrl + W to do this, but it's much easier (and more like the Mathematica Front End and Wolfram Workbench) if it were handled via multiple click.

I was able to work around it a little bit by addin

[2017-02-26 02:28] halirutan commented on #64
Unfortunately, I have no good news for you. For one, the plugin doesn't alter such core editor facilities, and extension points for this do not exist to my knowledge. IDEA is very keyboard-centric because most programmers prefer to stay with their hands on the keys the whole time. Additionally, double click and triple click is already bound to the actions "select identifier under cursor" and "sele

[2017-02-26 21:09] kkkmail opened #65 "Extended characters, which are inputted as \:<SomeHexNumber>, are not processed properly."
If Mathematica m file contains extended characters, which are inputted as `\:<SomeHexNumber>` then the following occurs:
1. IntelliJ generates an error "Closing ']' expected" on the first occurrence and then "The last expression could not be parsed correctly" on all subsequent occurrences.
2. Attempt to reformat the code CTRL+A, then CTRL+ALT+L results in ":" acquiring a space before and after it.

[2017-02-27 05:09] kkkmail opened #66 "If and Switch statements are not "collapsible"."
The header speaks for itself.

A statement like:
[code]

cannot be collapsed (like `Do` or a function declaration, for example). The same, of course, applies to `If` within `If` and to `Switch` statement.

NOTE: While the brackets and semicolons are not needed in that particular example, they become important in a multi-line statement. In addition, plug-in is "unhappy" about missing last semicolon

[2017-02-27 07:06] halirutan commented on #66
Yes, you are correct. In the current implementation, only *scoping constructs* are foldable. The folding engine is basically able to fold all function calls, but this might become more unnerving than it helps. Be problem is, that you fold a region with `Ctrl`+`.`. Now assume you are inside a deeply nested expression (which is the common case in Mathematica, even if you don't see it instantly). If

[2017-02-28 02:38] kkkmail commented on #66
Thanks for comments. I am not much concerned about the last semicolon, of course, as I attempt to always put them.

In regards to `If` and other foldable structures: technically any Mathematica expression is a list with the head. If is not an exclusion. It starts with "[" and ends with matching "]". So, I would say that any expression in the form:

`<SomeHead>[<SomeContent>]`

or, in general:

`<S

[2017-03-06 04:27] halirutan commented on #66
I created the trello card for you.

[2017-03-06 04:27] #66 closed

[2017-03-06 04:58] halirutan commented on #65
Yes, this is a limitation, but including it in the plugin needs a change in the lexer, the parser and the whole syntax machinery and would only add a feature most users will never use. Please note that you can still many Unicode characters by directly typing them (on my Linux box I need to press `Ctrl`+`Shift`+`u` and then the code number to get e.g. `α`).

Additionally, the plugin is made for pac

[2017-06-04 13:38] #64 closed

[2017-06-04 13:38] #65 closed

[2017-06-05 14:20] halirutan commented on #57
If have implemented the first version of this. There is no need for an `(* ::End Section:: *)`. I guess I can make it consistent with completely valid syntax. As soon as I have finished it I'll report back.

[2017-06-06 04:21] #62 closed

[2017-06-06 04:21] #63 closed

[2017-06-06 04:21] #57 closed

[2017-06-06 05:00] halirutan commented on #39
This is fixed now

[2017-06-06 05:00] #39 closed

[2017-06-10 15:16] halirutan opened #68 "[auto-generated] Crash in plugin"
Test

Plugin Name: Mathematica Support
Plugin Version: 2.2
OS Name: Linux
Java version: 1.8.0_121
Java vm vendor: Oracle Corporation
App Name: IDEA
App Full Name: IntelliJ IDEA
App Version name: IntelliJ IDEA
Is EAP: false
App Build: IC-171.4694.23
App Version: 2017.1.4
Last Action: de.halirutan.mathematica.errorreporting.TriggerExceptionAction

[code]

[code]

[2017-06-16 04:33] halirutan opened #69 ""[auto-generated] I'm an artificial exception!""
Test

Plugin Name: Mathematica Support
Plugin Version: 2.2
OS Name: Linux
Java version: 1.8.0_121
Java vm vendor: Oracle Corporation
App Name: IDEA
App Full Name: IntelliJ IDEA
App Version name: IntelliJ IDEA
Is EAP: false
App Build: IC-171.4694.23
App Version: 2017.1.4
Last Action: de.halirutan.mathematica.errorreporting.TriggerExceptionAction
error.message: I'm an artificial exception!

[code]

[2017-06-16 05:10] Mathematica-IntelliJ-Plugin opened #70 ""[auto-generated] I'm an artificial exception!""
Plugin Name: Mathematica Support
Plugin Version: 2.2
OS Name: Linux
Java version: 1.8.0_121
Java vm vendor: Oracle Corporation
App Name: IDEA
App Full Name: IntelliJ IDEA
App Version name: IntelliJ IDEA
Is EAP: false
App Build: IC-171.4694.23
App Version: 2017.1.4
Last Action: de.halirutan.mathematica.errorreporting.TriggerExceptionAction
error.message: I'm an artificial exception!
error.hash: -49

[2017-06-16 05:18] Mathematica-IntelliJ-Plugin opened #71 ""[auto-generated] I'm an artificial exception!""
- Plugin Name: Mathematica Support
- Plugin Version: 2.2
- OS Name: Linux
- Java version: 1.8.0_121
- Java vm vendor: Oracle Corporation
- App Name: IDEA
- App Full Name: IntelliJ IDEA
- App Version name: IntelliJ IDEA
- Is EAP: false
- App Build: IC-171.4694.23
- App Version: 2017.1.4
- Last Action: de.halirutan.mathematica.errorreporting.TriggerExceptionAction
- error.message: I'm an artificial

[2017-06-16 05:23] Mathematica-IntelliJ-Plugin opened #72 ""[auto-generated] I'm an artificial exception!""
This is a test. I can use markdown in the description:

[code]

- Plugin Name: Mathematica Support
- Plugin Version: 2.2
- OS Name: Linux
- Java version: 1.8.0_121
- Java vm vendor: Oracle Corporation
- App Name: IDEA
- App Full Name: IntelliJ IDEA
- App Version name: IntelliJ IDEA
- Is EAP: false
- App Build: IC-171.4694.23
- App Version: 2017.1.4
- Last Action: EditorBackSpace

[code]

[2017-06-16 05:26] Mathematica-IntelliJ-Plugin opened #73 ""[auto-generated] I'm an artificial exception!""
Test issue with code sample

[code]

what went wrong here?

----------------------

- Plugin Name: Mathematica Support
- Plugin Version: 2.2
- OS Name: Linux
- Java version: 1.8.0_121
- Java vm vendor: Oracle Corporation
- App Name: IDEA
- App Full Name: IntelliJ IDEA
- App Version name: IntelliJ IDEA
- Is EAP: false
- App Build: IC-171.4694.23
- App Version: 2017.1.4
- Last Action: EditorBackSpac

[2017-06-16 05:30] Mathematica-IntelliJ-Plugin opened #74 ""[auto-generated] I'm an artificial exception!""
- Plugin Name: Mathematica Support
- Plugin Version: 2.2
- OS Name: Linux
- Java version: 1.8.0_121
- Java vm vendor: Oracle Corporation
- App Name: IDEA
- App Full Name: IntelliJ IDEA
- App Version name: IntelliJ IDEA
- Is EAP: false
- App Build: IC-171.4694.23
- App Version: 2017.1.4
- Last Action: de.halirutan.mathematica.errorreporting.TriggerExceptionAction

[code]
Hash Code:
-49903558

[2017-06-16 05:31] Mathematica-IntelliJ-Plugin opened #75 ""[auto-generated] I'm an artificial exception!""
- Plugin Name: Mathematica Support
- Plugin Version: 2.2
- OS Name: Linux
- Java version: 1.8.0_121
- Java vm vendor: Oracle Corporation
- App Name: IDEA
- App Full Name: IntelliJ IDEA
- App Version name: IntelliJ IDEA
- Is EAP: false
- App Build: IC-171.4694.23
- App Version: 2017.1.4
- Last Action: de.halirutan.mathematica.errorreporting.TriggerExceptionAction

[code]
Hash Code:
-49903558

[2017-06-16 05:35] Mathematica-IntelliJ-Plugin opened #76 ""[auto-generated] I'm an artificial exception!""
- Plugin Name: Mathematica Support
- Plugin Version: 2.2
- OS Name: Linux
- Java version: 1.8.0_121
- Java vm vendor: Oracle Corporation
- App Name: IDEA
- App Full Name: IntelliJ IDEA
- App Version name: IntelliJ IDEA
- Is EAP: false
- App Build: IC-171.4694.23
- App Version: 2017.1.4
- Last Action: de.halirutan.mathematica.errorreporting.TriggerExceptionAction

[code]
Hash Code:
-49903558

[2017-06-16 05:39] Mathematica-IntelliJ-Plugin opened #77 ""[auto-generated] I'm an artificial exception!""
- Plugin Name: Mathematica Support
- Plugin Version: 2.2
- OS Name: Linux
- Java version: 1.8.0_121
- Java vm vendor: Oracle Corporation
- App Name: IDEA
- App Full Name: IntelliJ IDEA
- App Version name: IntelliJ IDEA
- Is EAP: false
- App Build: IC-171.4694.23
- App Version: 2017.1.4
- Last Action: de.halirutan.mathematica.errorreporting.TriggerExceptionAction

[code]
Hash Code:
-49903558

[2017-06-16 05:40] Mathematica-IntelliJ-Plugin opened #78 ""[auto-generated] I'm an artificial exception!""
- Plugin Name: Mathematica Support
- Plugin Version: 2.2
- OS Name: Linux
- Java version: 1.8.0_121
- Java vm vendor: Oracle Corporation
- App Name: IDEA
- App Full Name: IntelliJ IDEA
- App Version name: IntelliJ IDEA
- Is EAP: false
- App Build: IC-171.4694.23
- App Version: 2017.1.4
- Last Action: de.halirutan.mathematica.errorreporting.TriggerExceptionAction

[code]
Hash Code:
-49903558

[2017-06-16 06:05] Mathematica-IntelliJ-Plugin opened #79 ""[auto-generated] I'm an artificial exception!""
- Plugin Name: Mathematica Support
- Plugin Version: 2.2
- OS Name: Linux
- Java version: 1.8.0_121
- Java vm vendor: Oracle Corporation
- App Name: IDEA
- App Full Name: IntelliJ IDEA
- App Version name: IntelliJ IDEA
- Is EAP: false
- App Build: IC-171.4694.23
- App Version: 2017.1.4
- Last Action: de.halirutan.mathematica.errorreporting.TriggerExceptionAction

[code]
Hash Code:
-49903558

[2017-06-16 06:13] #68 closed

[2017-06-16 06:13] #69 closed

[2017-06-16 06:13] #70 closed

[2017-06-16 06:13] #71 closed

[2017-06-16 06:13] #72 closed

[2017-06-16 06:13] #73 closed

[2017-06-16 06:13] #74 closed

[2017-06-16 06:13] #75 closed

[2017-06-16 06:13] #76 closed

[2017-06-16 06:13] #77 closed

[2017-06-16 06:13] #78 closed

[2017-06-16 06:13] #79 closed

[2017-06-16 06:14] Mathematica-IntelliJ-Plugin opened #80 ""[auto-generated] I'm an artificial exception!""
- Plugin Name: Mathematica Support
- Plugin Version: 2.2
- OS Name: Linux
- Java version: 1.8.0_121
- Java vm vendor: Oracle Corporation
- App Name: IDEA
- App Full Name: IntelliJ IDEA
- App Version name: IntelliJ IDEA
- Is EAP: false
- App Build: IC-171.4694.23
- App Version: 2017.1.4
- Last Action: de.halirutan.mathematica.errorreporting.TriggerExceptionAction

[code]
Hash Code:
-49903558

[2017-06-16 06:15] #80 closed

[2017-06-16 07:02] szhorvat commented on #80
What's happening?

[2017-06-16 08:09] halirutan commented on #80
I implemented a new auto reporter for Plugin errors that appear on github. These are just tests

[2017-08-03 04:32] hbuchman opened #82 "Reformatting According to Specified Code Style Not Working"
After I updated IntelliJ to IntelliJ IDEA 2017.2.1 (community edition), the 'Spaces' section in Editor -> Code Style -> Mathematica stopped respecting my space removals. When I try and Reformat with Ctrl+Atl+L, regardless of how I have the spaces configured, it adds spaces everywhere. The example code shown on the right of the check boxes also does not dynamically update like it used to.

I am on

[2017-08-03 23:05] simonkeys commented on #82
I have also run into this. IntelliJ IDEA 2017.2.1, Mathematica Support 2.4.4, OS X 10.10.5.

[2017-08-03 23:10] simonkeys opened #83 "Spacing around division operator for rational numbers"
As a refinement to the code formatter, it would be nice if there were an option to have rational numbers, e.g., `1/2`, formatted without spaces around the division operator, even if spacing around arithmetic operators is selected.

[2017-08-04 02:19] halirutan commented on #82
That code is now 5 years old :)

Would you try [this plugin version](https://github.com/halirutan/Mathematica-IntelliJ-Plugin/releases/tag/v2.4.5) by manually downloading and installing it?

[2017-08-04 20:51] hbuchman commented on #82
Thanks so much. That worked for me! I'm not sure what the typical flow is, but from my perspective this issue is now closed.

[2017-08-04 23:51] halirutan commented on #82
The problem simply was that the settings were not saved correctly anymore in version 2017.2. So even if you deselected something, the next time you open the settings, the default (everything is selected) was re-applied. It was a simple fix. Only debugging what was going on took a while.
It turned out that I was not handling settings correctly from the very beginning, but it happened to work until

[2017-08-04 23:51] #82 closed

[2017-08-15 09:14] sumanban opened #84 "How to run the program?"
I could create a new file but how to run it?

[2017-08-15 10:02] szhorvat commented on #84
You run it from within Mathematica.  In a typical workflow you have both Mathematica and the IDE open.  You edit a package in the IDE, re-load it in Mathematica, then test it.

[2017-08-15 10:08] halirutan commented on #84
[Point number 3 in the FAQ](https://github.com/halirutan/Mathematica-IntelliJ-Plugin/wiki/FAQ).

[2017-08-15 10:08] #84 closed, assigned to nobody

[2017-09-14 16:29] olejorik opened #85 ""Surround with" in Python files stops working with active MMA-IntelleJ pulgin"
I have just installed the plugin in PyCharm (CE, 2017.2.3) and I have discovered that "Surround With..." has stopped to work in Python files (it works OK in MMA files). If I deactivate the plugin, it works again.

Here's the screenshot:
![image](https://user-images.githubusercontent.com/12269930/30441728-8c4f92b2-997a-11e7-9cd6-eea9631a3865.png)

[2017-09-15 17:14] eduardoofthehour opened #86 "Syntax Highlighting with unused variables in scoping constructs"
I would like to be able to see when I have unused local variables defined in a scoping construct

[2017-09-15 17:23] eduardoofthehour opened #87 "AutoComplete for undefined variables in scoping construct"
I would like to be able to autocomplete undefined variables in scoping constructs.

e.g in Block[{}, foo = bar]
I would like to be able to autocomplete in the list in the first argument

[2017-09-15 17:52] kubaPod commented on #86
Duplicate of #55

[2017-09-15 17:57] eduardoofthehour commented on #86
my bad

[2017-09-17 02:28] halirutan commented on #32
Fixed in the development version

![img1](http://i.imgur.com/7SiZG47.png)

If the right `var` is defined somewhere else it refers to that:

![img2](http://i.imgur.com/LM0jO2R.png)

or globally defined

![img](http://i.imgur.com/EcV9b9g.png)

[2017-09-17 02:28] #32 closed

[2017-09-17 02:36] halirutan commented on #30
Fixed in development version

[2017-09-17 02:36] #30 closed

[2017-09-17 02:38] halirutan commented on #24
Fixed in development version

[2017-09-17 02:38] #24 closed

[2017-09-17 02:43] halirutan commented on #22
Fixed in development verison

[2017-09-17 02:43] #22 closed

[2017-09-17 02:48] halirutan commented on #21
I'll call it `Symbols`. The reason is that the basic coloring for `Identifier` aka `Symbols` comes from the highlighter that is based on the lexer. Special colors like the green for `Module` variables or the color for built-in stuff is done at a later stage. There is not really a way to make them not pop up if you click on them in the color settings panel

[2017-09-17 02:48] #21 closed

[2017-09-17 03:27] halirutan commented on #18
Fixed in the development version. I have put the foldable named characters into a so-called folding-group which means they always expand/collapse all if you open/close one. If this turns out to be more annoying than helpful, I'm instantiating the old behaviour.

[2017-09-17 03:27] #18 closed

[2017-09-17 03:28] halirutan commented on #43
Not going to fix this.

[2017-09-17 03:28] #43 closed

[2017-09-17 03:35] halirutan commented on #50
I gave this some thought. What is needed here is something different: Basically, `.tm` files are c-files. So you would need CLion to highlight them properly. *There* you could use IDEA feature of injecting a different language into this file and mark a region as Mathematica code.

This won't work out of the box and it is way too much trouble to implement this when only a handful of people would us

[2017-09-17 03:35] #50 closed

[2017-09-17 05:24] halirutan commented on #46
Fixed in the development version. It seems I'm on the right track. The reference resolving works quite well and finds now definitions wherever they may be. Resolved global definitions are cached and instantly available for completion.

The bottleneck is still the resolver for file-global functions on very large files (And I don't need to look at someone, do I?), but I will see how we can handle th

[2017-09-17 05:24] #46 closed

[2017-09-17 05:33] halirutan commented on #44
Fixed in the development version. See my last comment here

https://github.com/halirutan/Mathematica-IntelliJ-Plugin/issues/46

[2017-09-17 05:33] #44 closed

[2017-09-17 05:36] halirutan commented on #87
There is an *intention* in the development version for this that I have to debug and polish but does basically what you want. It basically lets you press `Alt+Enter` on the `foo` symbol and suggests to move this variable to the definition list.

[2017-09-18 03:15] #86 closed, assigned to nobody

[2017-09-18 03:17] halirutan commented on #55
Just an update, due to my better understanding of the whole IDEA SDK, this is nothing for the near future. It's what I will work on very soon and I expect that it doesn't take long to implement.

[2017-09-18 06:08] eduardoofthehour commented on #87
Great! Thank you

On 17 September 2017 at 08:36, Patrick Scheibe <notifications@github.com>
wrote:

[2017-09-18 11:20] szhorvat opened #88 "More convenient comment formatting"
The JetBrains IDEs have a feature where they automatically insert the starting `*` characters in comments like

[code]

It would be nice (though very low priority!) to enable the same for Mathematica.

Only bother with this if you can re-use what's already implemented for Java/C and you don't need to implement it from scratch.

[2017-09-18 13:33] szhorvat opened #89 "Symbol renaming should work in StringTemplate expressions"
It would be nice if renaming worked in this situation:

[code]

`foo` appears in the string as well, between the `<*`...`*>` expression delimiters.  When renaming this symbol, it should also be renamed in the string.

Of course, this should be low priority.

Also, StringTemplate allows specifying non-default expression delimiters, so renaming couldn't possibly work in every situation.

[2017-09-18 13:54] halirutan commented on #89
I need to look at the behaviour and understand the consequences better. The problem I see is that something like this is possible (and maybe commonly used?)

[code]

Since I don't see the variable inside the template in the `Block` and cannot make a valid reference, renaming `foo` would break the code. But maybe this is not an issue.

What I can try is to extract the portion inside `<*..*>` and ma

[2017-09-18 14:09] szhorvat commented on #89
Thinking more about it, I think you're right.  There is no good way to determine the scope of symbols in a string template.

It's better to leave things as they are.  The current behaviour is not "smart", but it is predictable, which is good.

[2017-09-18 14:26] halirutan opened #90 "Include all Mathematica functions in the default spell-check dictionary"
That should be easy and removes the annoying typo-annoations for built-in functions. See [this article on Community](https://intellij-support.jetbrains.com/hc/en-us/community/posts/115000571104-Add-keywords-to-spellcheck-dictionary)

[2017-09-19 05:10] halirutan commented on #90
Fixed. Now, the plugin will ship with a Mathematica specific dictionary that should contain all name-parts that would normally be highlighted to be spelt incorrectly. Due to the feature of IDEA to check name parts in camel-case identifiers separately, I could reduce the size of the dictionary (all default contexts, all names) from about 24000 to 3400 words that are almost all unknown to IDEA.

The

[2017-10-09 03:48] #90 closed, assigned to nobody

[2017-10-13 16:10] szhorvat opened #91 "Multiply occurring pattern names in rules"
I am reporting this "bug" not because it bothers me, but because it may be important to think about.

In practice one may have patterns like

    {a_,a_} :> a+c

Only the first `a` is highlighted instead of both.

![image](https://user-images.githubusercontent.com/1212871/31555273-b07969a6-b040-11e7-8f19-5abfd903124b.png)

Another example:

    f[a_] | g[a_] :> a

![image](https://user-images.gith

[2017-10-22 00:34] kkkmail opened #92 "UTF8 & WL issues"
[UTF8_issue.zip](https://github.com/halirutan/Mathematica-IntelliJ-Plugin/files/1404522/UTF8_issue.zip)

Plug in cannot properly handle UTF8 M files and cannot handle WL files with UTF8 characters.

In fact, it looks that plug in cannot handle standard WL files at all! If an NB file is saved as WL, then it comes out with each line effectively commented out. While Mathematica seems to handle that c

[2017-10-22 01:54] halirutan commented on #92
No, it can not and I won't support this. Mathematica already has a tremendous amount of operators in plain ASCII that need to the parsed and transformed into an AST to make the plugin do what it does. Supporting all the nifty symbols will make this bottleneck even worse and it will be used by 0.1% of package developers. Additionally, it will make things harder for people that have to read your cod

[2017-10-22 01:54] #92 closed, assigned to nobody

[2017-10-22 02:21] kkkmail commented on #92
That's exactly my point: plug in cannot handle plain ASCII! See UTF8_issue_ASCII.m and try to open it in IntelliJ. The only thing that plug in needs to "know" is that things like `\:0df4` are characters.

[2017-10-22 02:59] halirutan commented on #92
Yes, you already reported this here (https://github.com/halirutan/Mathematica-IntelliJ-Plugin/issues/65) and I tried to explain that it doesn't make a difference from the plugin's point of view. Still, it would need to parse every operator in possibly 4 different forms. Here is a specific example

[code]

Evaluate this code in Mathematica and you see that all 4 forms are equal. The precedence of `

[2017-10-22 04:11] kkkmail commented on #92
Thanks. I see your point. I guess that I fall into this 0.1% of users and I am stuck. I explicitly looked through tens of thousands of Unicode characters available in Mathematica to come up with easily human readable things like:
`coeff෴A˖A➔Y˖A`, which are parsed as variable names. It describes a rate of a chemical reaction (that's why `coeff `prefix) and `A` defines an amino acid in a peptide cha

[2017-10-22 09:07] kubaPod commented on #92
@kkkmail

I just want to comment on

which is not related to UTF8 support but I want to make that clear, sorry if I missed the point.

Only cells with `InitializationCell -> True` option won't be commented when a notebook is converted to a .m file. `"Code"` cells by default and all those for which you set this option manually/via menu, everything else, like Input etc is commented.

During import M

[2017-11-24 16:03] halirutan commented on #54
I guess I'm including this in the next big release. I have rewritten the core part that handles how local variables in Module, Table, etc are found and this allows me to include this functionality:

![with](http://i.imgur.com/IhR6YpG.png)

I need to write an error inspection that marks this as invalid as soon as someone uses an old Mathematica version.

[2017-11-26 12:33] halirutan commented on #83
I believe I can make an exception if both children of the division are indeed numbers. I need to look into this.

[2017-11-26 12:52] #42 closed

[2017-12-04 08:23] szhorvat opened #93 "Wishlist: Suppress inspections"
IDEA has a feature to suppress individual inspections (without disabling that inspection altogether).

https://www.jetbrains.com/help/idea/suppressing-inspections.html

This does not work with Mathematica code. It would be useful to make it work.

For example, I use ByteArray in LTemplate.  It triggers a version warning because I set compatibility to 10.0, but it was introduced only in 10.1. I see

[2017-12-04 13:26] halirutan commented on #93
I definitely support this. I just haven't had the chance to look into this.

[2017-12-04 13:28] halirutan opened #94 "Comment Enter Handler inserts wrong *"
Pressing `Ctrl`+`Enter` at the colon

[code]
creates a `*` inside the code. This should not happen.

[2017-12-05 10:25] #94 closed, assigned to nobody

[2017-12-05 10:30] #88 closed, assigned to halirutan

[2017-12-21 14:24] adil-hussain-84 commented on #85
This plugin also affects Java files. Disabling this plugin gets IntelliJ's "Surround with" feature working again.

[2017-12-21 14:36] halirutan commented on #85
I have this issue on my radar. I'm not exactly sure why this happens because the plugin's surrounders should only work in Mathematica files, but I will debug this through.

[2017-12-27 00:14] #85 closed, assigned to halirutan

[2018-02-05 13:57] halirutan opened #95 "Additional brace is inserted"
Example:

[code]

press Enter and an additional closing brace will appear.

[2018-02-09 00:03] drewsteinacher opened #96 "Add ability to generate TestID option for VerificationTest, Test"
In the Wolfram Language plugin for Eclipse, there is a feature that when your cursor is inside a `VerificationTest` (or `Test` for the old MUnit system) and hit Ctrl + 1, a menu comes up that allows you to add a generated TestID.

For example, here's a screenshot of the menu:
![image](https://user-images.githubusercontent.com/26029945/36004641-4639464a-0cf9-11e8-94b3-b5dcc49399a1.png)

And when do

[2018-04-20 19:52] szhorvat opened #97 "Missed colouring in Function"
The `Function` variable `cl` should be coloured in green here:

![image](https://user-images.githubusercontent.com/1212871/39070813-14ed10a2-44e5-11e8-8408-b154bc5391ed.png)

`Function[{cl}, cl^2]` is coloured correctly.

[2018-04-26 15:17] halirutan commented on #97
Fixed in dev branch

[2018-04-26 15:17] #97 closed, assigned to halirutan

[2018-05-12 12:54] #54 closed

[2018-05-12 12:54] halirutan commented on #54
This is available in the beta of 3.0

[2018-05-12 13:02] halirutan opened #98 "Improve completion for local variables"
This pretty much works, but it does not use the same algorithm as the resolving of local variables. I need to look at this again. One case is

[code]
were you only get completion for the variables in the first list.

[2018-05-12 13:03] halirutan opened #99 "Include all functions that localize their symbols"
Some of the functions are not implemented yet, like `RegionPlot`. For this, you won't get green highlighting although the variables are local.

[2018-05-19 15:21] halirutan opened #100 "Replace misses patterns with `Shortest`"
Example

[code]
![img](http://i.imgur.com/0BPkGj0.png)

[2018-05-25 14:23] szhorvat opened #101 "Feature: Message completion"
This is a feature suggestion.

Allow completing messages for symbols in the project.  Example:

[code]

Now after `foo::` and triggering completion, it should suggest `bar`.

[2018-05-25 14:26] szhorvat opened #102 "Feature: Sorted "Go To Declaration""
Go To Declaration is very useful, but the presented suggestions are in an unpredictable order.

![image](https://user-images.githubusercontent.com/1212871/40549586-253f8e62-6038-11e8-9a66-c64057bc7a00.png)

This is a suggestion to sort them in some way.

I found find _either_ of the following useful:

 - sort in the order of appearance in the file (probably the better approach)
 - sort in a fixed

[2018-05-25 14:27] szhorvat commented on #101
This should be of *lowest* priority.  It would be a useful feature, but not frequently used.

[2018-06-01 13:04] halirutan commented on #101
It works already inside `Message[..]`. This feature is bound to *smart completion* which is `Ctrl`+`Shift`+`Space` on Linux. But I already thought about extending this and when I see it correctly, it should really be an easy fix.

[2018-06-07 23:50] simonkeys opened #103 "Infix operator precedence depends on spacing"
With an expression like

`a \[CircleDot] b@c`

If you select `b` and choose Extend Selection, the `b@c` is selected, which I think is the correct behavior. However, if there is no space between the `\[CircleDot]` and `b`:

`a \[CircleDot]b@c`

then selecting `b` and extending the section results in `\[CircleDot]b` being selected, which I think is incorrect.

[2018-06-09 10:43] halirutan commented on #103
Thanks for reporting this, I'm aware of this flaw but this was more or less a conscious choice to not support this. It would have added a big chunk of complexity to the lexer and parser with very little profit.

Things like `\[CirclePlus]` is a named character like `\[Alpha]`. Some of them are operators and some can be part of a symbol. Since the normal operators like `+`, `&&`, etc. are not allow

[2018-06-09 19:31] simonkeys commented on #103
Thanks for the detailed explanation. Now that I'm aware of it, it's easy enough to work around.

[2018-06-13 05:49] #103 closed, assigned to nobody

[2018-06-26 15:16] MrHirenP opened #104 "Certain text elements are incorrectly colored"
Patterns inside `Rules` are incorrectly colored as 'Module Variables'.  It should be colored as 'Patterns and Arguments'.

Local variables of built in functions are incorrectly colored as 'Module Variables'.  It should be colored as 'Block Variables'.

*Mathematica* Plugin

![screen shot 2018-06-26 at 11 15 06 am](https://user-images.githubusercontent.com/26680488/41922041-39d12008-7932-11e8-8407-

[2018-06-27 01:38] MrHirenP opened #105 "Misidentified syntax error with RepeatedPattern"
RepeatedPattern symbol `..` following an integer causes parser to think there is a syntax error.  This is probably due to confusing first dot as marking an inexact number.

*Mathematica* plugin

![screen shot 2018-06-26 at 9 37 22 pm](https://user-images.githubusercontent.com/26680488/41948089-23249e1e-7989-11e8-856f-3e194b70a429.png)

*Mathematica* front end (`.wl` package editor):

![screen shot

[2018-06-27 14:06] halirutan commented on #104
I need to check how this is currently handled by the dev-version.

[2018-06-27 14:09] halirutan commented on #105
Duplicate of https://github.com/halirutan/Mathematica-IntelliJ-Plugin/issues/31

[2018-06-27 14:09] #105 closed, assigned to nobody

[2018-07-06 07:43] szhorvat opened #106 "Module Language Level is reset after every restart"
I am trying to set the Module Language Level to 10.0:

![image](https://user-images.githubusercontent.com/1212871/42366176-d89c51a0-8100-11e8-8d13-ecb8304599fb.png)

However, after restarting IDEA, it jumps back to 11.2.

I could reproduce this with two different projects.

[2018-07-07 19:06] halirutan commented on #106
Fixed in the development tree.

[2018-07-07 19:06] #106 closed, assigned to nobody

[2018-07-27 00:58] halirutan commented on #104
@MrHirenP In the beta version (you can [read here how to use it](http://halirutan.de/programming/MathematicaPlugin3/)), the *recognition* of the variables in your examples is fixed. However, I want to make clear that my goal is not to reproduce the coloring of the front end. The reason is simple: It doesn't make sense at all and it seems to exist purely for historical reasons.

We have basically o

[2018-07-27 00:58] #104 closed, assigned to halirutan

[2018-07-27 01:47] halirutan commented on #95
Seems to be gone in 2018.2

[2018-07-27 01:47] #95 closed, assigned to nobody

[2018-08-27 07:22] halirutan opened #107 "Renaming does not find variables with context"
Renaming symbols that contain a context does not work.

[code]

I suspect a bug in the search usage algorithm.

[2018-09-21 23:29] halirutan opened #108 "NamedCharacter typing is still a pain"
Typing named characters `\[Gamma]` is a pain. IDEA inserts the closing brace automatically, but when you are done typing the name and insert another `]` an additional `]` is indeed inserted which should not happen with the PairedBraceMatcher. The functionality obviously gets confused, when there is a leading backslash in front of the opening `[`.

To fix this, one probably should start looking at

[2018-10-22 08:57] szhorvat opened #109 "Add symbols used in new style packages"
Leonid described new style packages [here](https://mathematica.stackexchange.com/a/176489/12). They use some special "symbol names". According to his description, these aren't really treated as symbols by the kernel (unless I got it wrong), but IDEA does see them as symbols.

IDEA should recognize them as built-in symbols.

They are (at least):

[code]

[2018-10-22 17:40] szhorvat opened #110 "Support refactoring for new-style packages"
[New-style packages](https://mathematica.stackexchange.com/a/176489/12) make a symbol public as

    PackageExport["MySym"]

or package-scope as

    PackageScope["myPrivateSym"]

Notice the quoted symbol names.

Refactoring should detect these, and handle them appropriately. Is this possible?

I assume it should not be too hard because the good new is that:

This only needs to be done when one of

[2018-10-23 14:17] szhorvat opened #111 "Cross-file refactoring is broken"
Suppose we are using a function called `fun1` in a file. `fun1` is defined in a different file. The IDEA recognizes it even in the file where we are using it because it has a usage message.

`fun1` is defined here:

![image](https://user-images.githubusercontent.com/1212871/47366894-e5b92500-d6de-11e8-8d84-4cdf5d489788.png)

We are using it here. It is underlined with a straight line, which means

[2018-10-25 11:16] halirutan commented on #111
I have to admit, I was aware of this. It is on my list :) Thanks for making an issue so that I don't forget it.

Btw, this really should not be broken at all because I don't take care of the renaming. What goes wrong is IDEA's search for all references that need to be renamed.

[2018-11-26 15:59] halirutan commented on #111
Fixed in the latest beta

[2018-11-26 15:59] #111 closed, assigned to nobody

[2018-11-26 16:05] halirutan commented on #110
Several steps are required for this

- [x] Make them autocomplete
- [x] Include these macros known to the resolver so that they don't appear as warnings
- [x] Make the string arguments resolve to the actual symbols and add refactoring
- [x] Create *Intention* that let's you easily create `PackageExport`, ... for defined symbols (**works with autocompletion inside the string**)
- [x] Create *Inspec

[2018-11-26 16:05] halirutan commented on #109
Done in beta

[2018-11-26 16:05] #109 closed, assigned to nobody

[2018-11-26 16:06] halirutan commented on #108
Solved by not including the closing `]` automatically when it is opened with `\[`

[2018-11-26 16:06] #108 closed, assigned to nobody

[2018-11-28 13:15] szhorvat opened #112 "Auto-completion broken for $Symbols in System context"
In 3.0beta8, first-stage auto-completion does not work for *most* ``System` `` symbol names starting with a `$` sign, such as `$ReleaseNumber` or `$SystemID`

Second-stage auto-completion (trigger it twice) does list these symbols, but it also lists many private context symbols that I would not normally want to see.

![image](https://user-images.githubusercontent.com/1212871/49154171-101e8380-f318

[2018-11-29 03:10] #112 closed, assigned to nobody

[2018-11-29 03:52] #102 closed, assigned to nobody

[2018-11-29 03:58] halirutan commented on #33
Fixed in IDEA 2018.3 with Plugin version 3

[2018-11-29 04:07] halirutan commented on #48
Version 3 of the plugin contains several functions for this

1. `Navigate -> Declaration (Ctrl + B)` that shows you places where a symbol is assigned a value (DownValue, OwnValue, SyntaxInformation)
2. `Navigate -> Related Symbol (Ctrl + Alt + Home)` that shows you all *usages* of a symbol in the file
3. `Edit -> Find -> Find Usages (Alt + F7)` that shows you all usages of a symbol across the proj

[2018-11-29 04:07] #48 closed

[2018-12-02 14:29] halirutan opened #113 "NPE in package export symbol with incomplete file"
I deleted some code and had an unclosed string in `BeginPackage` when the following exception came along

[code]

[2018-12-03 03:32] halirutan commented on #113
Fixed in 3.0beta11

[2018-12-03 03:32] #113 closed, assigned to nobody

[2019-02-26 16:04] kubaPod opened #114 "Color settings for DynamicModule and With"
Can we have `WITH/DYNAMIC_MODULE_LOCALIZED` settings?

By default they can be the same as `Module`.

Motivation: in context of gui programming there is a heavy mix of Module/With/DynamicModule and it would make it easier to read code.

[2019-02-26 21:02] kubaPod opened #115 "Too sensitive inspection 'function scope'"
```#  -> # + 1 & /@ data```

![image](https://user-images.githubusercontent.com/15227576/53445786-ad6d7e80-3a11-11e9-92b1-180f183153f3.png)

What can we do about that perfectly valid piece of code? Is it viable to restrict that inspection only to 'options pattern' part of functions calls?
Or am I left with disabling that inspection or getting a habit of using more parentheses?

[2019-02-26 21:39] szhorvat commented on #115
Useful linting will always have false positives, and it's up to you to decide which warning should be ignored and which should be acted upon.

In general, IDEA has a feature where it can suppress an individual instance of an inspection.

https://www.jetbrains.com/help/idea/suppressing-inspections.html

This is done through the addition of special comments.

I believe the WL plugin does not yet sup

[2019-02-26 21:56] szhorvat commented on #115
Linking https://github.com/halirutan/Mathematica-IntelliJ-Plugin/issues/93

[2019-02-26 22:12] kubaPod commented on #115
@szhorvat Currently I just disabled it as it is not a frequent problem for me.

I don't think disabling specific cases is an option here, it rather feels like we have two patterns which are affected: functions in options and rules in functional code. The former needs that inspection and the latter, in most cases, does not. (that is probably a simplification)

So the question to @halirutan is, is i

[2019-02-27 07:05] halirutan commented on #115
I have seen this as well and the solution is to add some further code, that checks if the LHS of the rule contains a `#` (or friends). *Then*, I can assume the user knows what he was doing.

In general, this a good case where I can show @kubaPod why [his suggestions on SE](https://mathematica.meta.stackexchange.com/a/2436/187) are excellent but very hard to implement without annoying *some* users.

[2019-02-27 09:08] kubaPod commented on #115
@halirutan @szhorvat I tried hard to make clear here and in linked SE topic that I understand problems, don't need perfect solutions, know alternatives and the main point was to have a clean list of features to refer in future.
I hope you make those comments for future visitors sake, otherwise it means you think I'm retarded :)

[2019-02-27 09:52] szhorvat commented on #115
How difficult would it be to implement and auto-fixer for this (or whatever that's called in by IntelliJ)?

The lightbulb comes up, click it, "Parenthesize function"

----

I think Kuba's suggestion was to try to detect whether something is meant to be an option from context. This is absolutely not possible in a _general_ way, but would it be possible to just not fire the inspection within the fir

[2019-02-27 13:11] halirutan commented on #115
@szhorvat I think with checking if there is a `#` in the LHS of the rule, we pretty much catch most cases.
I implemented this extension and a basic quick-fix

![scope](https://user-images.githubusercontent.com/511683/53492534-61661c80-3a99-11e9-8157-34c7c2312935.gif)

Let's see how this works in practice.

[2019-02-27 13:11] #115 closed, assigned to nobody

[2019-03-01 17:17] halirutan commented on #114
I cleaned up the whole situation and in the next version, it should be possible to adjust this (plus some more settings). Be aware that this update will definitely break existing color settings.

![img](http://i.imgur.com/cKjUxjx.png)

[2019-03-01 17:17] #114 closed, assigned to nobody

[2019-03-01 23:11] kubaPod opened #116 "DynamicModule variables in Initialization"
```DynamicModule[{x}, Dynamic[x], Initialization :> (x)]```

![image](https://user-images.githubusercontent.com/15227576/53671603-76040980-3c7f-11e9-8c97-4ba9660789c0.png)

It seems they are not captured as local which makes

- Syntax coloring off
- `x` in `Initialization` is marked with 'could not resolve symbol definition'

v3.0beta16

[2019-03-01 23:18] halirutan opened #117 "Resolve defined named characters"
Like `\[Pi]` or `\[Infinity]`

[2019-03-01 23:22] halirutan commented on #116
Also applies to `Manipulate` which is atm not handled at all due to its obscure variety of possible variable forms.

[2019-03-02 04:33] #110 closed, assigned to nobody

[2019-03-02 04:37] halirutan commented on #91
Damn, I had this fixed on some branch. Need to look at it again.

[2019-03-02 04:40] halirutan commented on #87
Should work now. When you are near the undefined symbol, a light-bulb appears and pressing `Alt`+`Enter` lets you push this symbol to the definition list.

![block](https://user-images.githubusercontent.com/511683/53677278-aa8eba00-3cad-11e9-8e30-76a25ea4b420.gif)

[2019-03-02 04:40] #87 closed, assigned to halirutan

[2019-03-04 14:29] kubaPod opened #118 "Resolve named character operators"
Currently they are considered part of a symbol name if there is no space. Which usually does not happen because the space is added automatically when pasted.

**With exception of e.g. `\[Transpose]` which is pasted without spaces.**

- Most important: `\[Transpose]` `\[ConjugateTranspose]` `\[Conjugate]`

- Important: `\[UndirectedEdge]` `\[DirectedEdge]` and friends

- Less important because they

[2019-03-04 14:29] szhorvat commented on #89
Also, the delimiters are customizable and not infrequently customized.

I would close this issue for now.

If it's implemented, the thing to look at are "language injections", I think.

https://www.jetbrains.com/help/idea/using-language-injections.html

I thought I got R code injected into an Mma string once, but I can no longer do it. Maybe I am misremembering.

[2019-03-04 14:31] szhorvat commented on #118
`\[ConjugateTranspose]` and `\[Conjugate]`?

[2019-03-07 08:47] kubaPod opened #119 "Should Block variables be renamed by global 'Rename'?"
When renaming variable `$whatever` with <kbd>Shift+F6</kbd> everything goes well but `Block[{$whatever = 1}, ...` will stay intact.

I think both approaches, to and not to rename it, have pros and cons but somehow I feel that renaming it will be more beneficial in future.

That of course means that `$whatever` inside the `Block` would need to be replaced as well. Now it is shielded.

Shortly, shou

[2019-03-07 08:49] kubaPod opened #120 "Collapsing only cell-group-like sections."
It woulld be nice to be able to 'Collapse all cell groups'  which would collapse all `(* ::Section:: *)` and friends but not functions/code blocks.

[2019-03-07 12:53] szhorvat commented on #119
I'm a bit sceptical about making this change. I think this needs more thought.

Consider

[code]

What was your intention?

 1. If we do a refactoring starting from *any* of occurrences 1, 2 or 3, all three will get replace?
 2. If we do a refactoring starting from 1, all three get replaced. But if we do a refactoring starting from 2 or 3, only 2 and 3 get replaced?

----

We should also write dow

[2019-03-07 13:00] szhorvat commented on #119
My personal opinion on the matter is that `Block` should be left as it is, for the following reasons:

 - There is a conflict between Use Case 1 and Use Case 2. Both can't be handled well as the IDE can't know the programmer's intent.  Currently, Use Case 1 is handled well.  I believe that it is more common *in package code* than Use Case 2 (I admit that this is based on anecdotal evidence and I m

[2019-03-07 13:01] szhorvat commented on #119
@kubaPod  Let me know if I misunderstood what you were asking for.

[2019-03-07 13:04] szhorvat commented on #120
I have wished for the very same thing in the past. It's one of the reasons why I recently switched to editing [the IGraph/M test file](https://github.com/szhorvat/IGraphM/tree/master/Tests) with the FE instead of IDEA.  (I should note that that file has many issues, and could be made more convenient to edit with the IDE.)

[2019-03-07 14:57] eduardoofthehour commented on #87
This is amazing thanks

[2019-03-08 08:43] kubaPod opened #121 "'Localize variable' for DynamicModule"
It deeply saddens me that 'Localize variable' does not work for `DynamicModule` while it works for `With, Module, Block`. :-)

Can this be fixed?

Follow-up question: Should that work for ``Internal`InheritedBlock`` maybe?

[2019-03-08 10:39] #120 closed, assigned to nobody

[2019-03-08 10:42] halirutan commented on #121
Fixed for all localizations that are similar to `Module`.

[2019-03-08 10:42] #121 closed, assigned to nobody

[2019-03-21 20:40] #117 closed, assigned to nobody

[2019-03-22 19:25] stub22 opened #122 "Minor installation issue regarding plugin name - IDEA calls it "Wolfram ...""
README instructions for installation currently say:
" On the right side you find the button Browse repositories and there you use the search box to find the Mathematica Support."

However, using IDEA community edition 2018.3.5 (on MS-Windows 7, JDK 8), searching the plugin Marketplace for "Mathematica" revealed only an unrelated plugin called "Mathematica REPL".   (The GUI for repositories is some

[2019-03-25 13:44] halirutan commented on #122
The *officially* available version of the plugin is outdated and very likely to show signs of a slow breakdown in newer IDEA versions. I am working on a new version of the plugin which will be called (similarly to IDEA) version 2019.x and as soon as the JetBrains Marketplace is ready, it will be available.

The new version is already available as a beta and you can follow the instructions here:

h

[2019-03-25 13:44] #122 closed, assigned to nobody

[2019-04-14 11:13] szhorvat opened #123 "Symbol with dollar in name not completed in Block"
In the following example, `$barbar` is not offered for auto-completion. `foofoo` works fine.

[code]

[2019-04-21 14:03] szhorvat opened #124 "Auto-comment will exclude existing comments"
Consider code like this:

[code]

If I use the block-comment shortcut on it, I get

[code]

This is not ideal for Mathematica, as unlike some other languages, it allows nesting comments.  Furthermore, uncommenting with the same shortcut leads to

[code]

The better outcome would be

[code]

or similar.

The same applies to the line-comment shortcut as well.

[2019-05-03 08:50] halirutan opened #125 "Smart autocompletion for string parameters"
Check if we can provide autocompletion for things like

[code]

This would be helpful in many situations where downvalues are used as key-value structure.

[2019-05-17 00:33] halirutan commented on #101
@szhorvat Could you comment on if Smart Enter that works inside `Message` is the main application and enough?

[2019-05-17 00:44] halirutan commented on #100
Fixed and test added

[2019-05-17 00:44] #100 closed, assigned to halirutan

[2019-05-17 09:11] szhorvat commented on #101
Yes, theoretically good enough. I need to keep it in mind and start triggering smart completion there.

[2019-05-22 22:35] minkir014 opened #126 "Question"
Does this extension have a debugger?

[2019-05-23 06:39] szhorvat commented on #126
No.

But I suggest reading this: https://mathematica.stackexchange.com/a/119962

[2019-05-23 10:02] minkir014 commented on #126
But the option `break at assert ` isn't available in Intellij idea. Or you suggest that I should use `Mathematica` itself for that.

[2019-05-23 10:39] szhorvat commented on #126
I am not sure what you mean with the last comment.  The Wolfram Language plugin for IDEA does not have a debugger.

My point with the link was that you may not need a traditional, line-number based debugger. I use Mathematica's built-in debugger for projects that I edit with IDEA. I find it very convenient. But the workflow is a bit different (described in the linked post).

(Do not take this as a

[2019-05-23 10:40] minkir014 commented on #126
Thanks for response.

[2019-05-23 10:40] #126 closed, assigned to nobody

[2019-05-27 08:59] testn opened #127 "์Not compatible with Intellij IDEA 2019"
It does not seem to be compatible with Intellij IDEA 2019. Could you please help check?

[2019-05-29 13:24] halirutan commented on #127
Currently, we are preparing the Wolfram Language Plugin 2019 for the official release. If you want to try the beta, please read here:

https://github.com/halirutan/Wolfram-Language-IntelliJ-Plugin-Archive/wiki/Beta-Release

[2019-05-29 13:24] #127 closed, assigned to nobody

[2019-06-05 06:58] kubaPod opened #128 "Templates for Sections / cell group headers"
It seems that this can potentially be useful for wider audience:

![image](https://user-images.githubusercontent.com/15227576/58935864-a374bd80-876e-11e9-9543-84d5a6428fd9.png)

I am not sure what is the best abbreviation but `"gr"|"cg" + MenuCommandKey` sounds reasonable.

So I am asking for a build in set of `gr{N}` templates which should insert

[code]

and where

[code]

While I don't use firs

[2019-06-07 01:52] halirutan commented on #128
Please try pressing `Ctrl`+`/` to open a new comment `(**)` with the cursor inside. Then press `Ctrl`+`Space` to trigger completion.

![img](http://i.imgur.com/hHQ3ddJ.png)

If the completion pop-up is open, you can start typing e.g. `Sub..` to quickly navigate to the item you want.

[2019-06-07 04:44] kubaPod commented on #128
Thanks, I wasn't aware of it. The problem is to create "mysection" section one need to

With live templates:

So I'd rather create custom gr* templates. Otoh maybe your comment templates could insert

`(*` + ` ::Section:: *)\n(*$SELECTION$` + `*)`?

Not sure if that wouldn't be confusing.

[2019-06-07 13:32] halirutan commented on #128
If you are inside a comment and press `Ctrl`+`Shift`+`Enter`, then you end up in the next line. For something that you tend to use only a couple of times inside a package file, I feel there is no need to over-optimize this

![comment](https://user-images.githubusercontent.com/511683/59106715-5ee84e00-8937-11e9-96d7-6694dae29592.gif)

I would need to rework this completely because the completion li

[2019-06-08 06:28] kubaPod commented on #128
That note is really on point, somehow I assumed it is a feature everyone needs, but you are of course right :)

[2019-06-08 06:28] #128 closed, assigned to nobody

[2019-06-25 16:40] #59 closed

[2019-06-29 12:19] #101 closed, assigned to nobody

[2019-06-29 13:44] halirutan commented on #55
I will publish the first version of this with the next 2019.1.1 release. I'm sure there are a lot of edge-cases, but in general it should work for all local scopes

![img](http://i.imgur.com/0LwkGZg.png)

[2019-06-29 13:44] #55 closed

[2019-06-29 17:25] mxknt opened #129 "Add support for custom syntax coloring on symbol level"
@halirutan First off, I'd like to say thanks for your work on this great plugin!

I'm working on a project with a large body of domain specific symbols, so the syntax coloring built into the plugin doesn't help much - since the majority of symbols I'm using aren't built in - most of the code I'm working with is all the same color. I was wondering about adding support to set the color of individual

[2019-06-29 18:29] halirutan commented on #129
That will be hard because the current code-base is not open-source anymore. This step was necessary as I wanted to bring the Wolfram Language Plugin to the new [JetBrains Marketplace](https://plugins.jetbrains.com/marketplace).

However, the new 2019.1 version is available for IDEA 2019.1.3 and I will soon publish a release that targets all 2019.1 versions. At this moment, the WL Plugin is still f

[2019-08-05 01:33] halirutan commented on #125
Implemented in 2019.2.1

[2019-08-05 01:33] #125 closed, assigned to nobody

[2019-08-06 22:54] halirutan commented on #129
Closing for missing feedback

[2019-08-06 22:54] #129 closed, assigned to nobody

[2019-08-06 22:59] halirutan commented on #119
I agree with the Szabolcs. From the developer's point of view, implementing something like this would require a lot of changes for a very small gain which doesn't even represent the usual use-case.

[2019-08-06 22:59] #119 closed, assigned to nobody

[2019-08-06 23:02] halirutan commented on #124
I need to look into this, but the whole commenting/uncommenting logic comes from the IntelliJ API. I merely provide the tokens for starting and ending a comment.

I agree that the current situation is not optimal but I will push this back as "enhancement".

[2019-08-12 10:37] szhorvat opened #130 "Feature: Go to message"
I would find it useful to be able to jump directly to the definition of a message.

For example, I am editing a piece of code like this:

    If[problem,
        Message[MySym::foo];
        Throw[$Failed]
    ]

I would like to be able to jump directly from the use `MySym::foo` within `Message` to its definition:

    MySym::foo = "There was a problem with the call to MySym.";

Of course, we can

[2019-08-14 03:04] halirutan commented on #130
Do you know the joke with the doctor and the patient where the doctor says "I have good news and bad news", and the patient answers "OK, give me the good news first." The doctor says "The good news is that very soon an entirely new and deadly disease will be named after you". Here the situation is similar.

The good news is that I have implemented a "Goto message" that always acts when you press t

[2019-08-14 08:34] szhorvat commented on #130
What I've forgotten about (and therefore didn't mention above) is that it is possible to use

    Message[undefinedSymbol::mess]

if `General::mess` exists.

Example:

![image](https://user-images.githubusercontent.com/1212871/63006554-12614780-be7f-11e9-8124-607cedc8266b.png)

Thus it should be anticipated that some messages that are being used seem to have no definition.

[2019-08-14 08:42] szhorvat commented on #130
I noticed this, i.e. that only those `IGraphM::` messages are listed that are in the current file.

Luckily, it seems that at least in IGraph/M, most messages that are used in file X are also defined in file X. Thus being able to navigate to the message definition within file X is already very useful. (It is common that the same message is issued from several sub-functions, so the message definiti

[2019-08-14 10:59] kubaPod commented on #130
From my perspective it is a nice to have feature.

From my experience with other projects it at least nice to have too, at least for some of them. A good example is GitLink/Messages:

https://github.com/WolframResearch/GitLink/blob/master/GitLink/Kernel/Messages.wl

Even though they are in one place it is a separate file and different heads are used. Still, go to file and search for a message name

[2019-08-14 11:07] szhorvat commented on #130
One notable feature of that file from GitLink is that it actually makes many `General::` definitions. I never did that (because of the risk of collisions). I just relied on existing `General::` messages such as `invopt`.

A perfect implementation might look for `General::bar` when `foo::bar` cannot be found. But this is getting complicated really quickly ...

@halirutan  At this point I'd say that

[2019-08-15 04:44] halirutan commented on #130
Alright, I published an update to the beta channel. Here is my general feedback using the IGraphM package as an example

1. If you are inside `CommunityDetection.m` and go on `IGraphM::mixed` (defined in `IGraphM.m`) to use `Ctrl`+`B`, this won't work, because inside this file, there are definitions for, e.g. `IGraphM::invcomm`. This means the plugin thinks the symbol `IGraphM` is defined in this

[2019-08-15 04:44] #130 closed, assigned to halirutan

[2019-08-15 06:23] #116 closed, assigned to nobody

[2019-08-15 06:25] halirutan commented on #116
@kubaPod This should be fixed in the upcoming version. It currently only works for `DynamicModule` as I haven't sorted out the mess with all the different possibilities of `Manipulate`.

[2019-08-15 06:45] halirutan commented on #123
@szhorvat Yep, I'm not sure what the heck I was thinking, but the code responsible for the bug is from 2013. That might explain it. Most importantly, I found the exact place where the `$barbar` suggestion gets removed and I'm looking at it later when I'm back home.

[2019-08-16 00:33] halirutan commented on #123
I believe this should be fixed now. This code was written exactly 6.2 years ago :)

[2019-08-16 00:34] #123 closed, assigned to halirutan

[2019-08-16 08:31] kubaPod opened #131 "Over eager 'suspicious pattern test'"
`_?Positive` in `Switch[#, _?Positive, #, _ 0]& @ 1` should not be highlighted.

![image](https://user-images.githubusercontent.com/15227576/63154150-4c158800-c010-11e9-9feb-b5783fd53542.png)

 - Windows I IDEA 2019.2 / plugin 2019.2.1.1

[2019-08-16 08:37] kubaPod opened #132 "Export symbol action"
It takes some time to get to the top of the file, export a symbol and go back to editing it.

It would be nice to have a "Export Symbol" action that could put a symbol:

[code]

I understand that not every .m file has this structure or that the plugin may not aware of it so I wouldn't give that feature a high priority. Just feels like something that could be used a lot, similarly to 'Localize vari

[2019-08-16 08:45] szhorvat commented on #132
We would need to figure out:

 - When does the simplest method to do this not apply? (E.g. packages split through files, "new style" packages, etc.)

 - How to detect when it can't be done safely?

 - In general, how to ensure that people won't inadvertently break things when trying to use this in a case when it doesn't apply?

[2019-08-16 08:53] kubaPod commented on #132
I'd say the opposite, explain where it applies and expect users to think. At the end it won't be an automatic action.

For a start it could just assume a simple old style package.

More files? New style? Just don't use it, it is not for that.

Probably, as I said, I don't know what the plugin knows about .m file structure.

I'm not a fan of thinking too much for users. You can break things by rena

[2019-08-16 09:02] szhorvat commented on #132
Based on my experience with other IDEs that messed up my code during refactoring, I would be extremely careful with adding a feature that has the potential to break your code in subtle and unexpected ways.

If the feature does not work (e.g. doesn't do anything) in many cases, or even most cases, that is not a problem at all.

But if "does not work" results in messing up my code, that's a problem.

[2019-08-16 09:08] kubaPod commented on #132
Here is an idea:
I don't know if that is possible or how much work would it be but I imagine that after using that action a prompt would show up with a slice of code where that symbol is going to be inserted and user would have to confirm/cancel that.

Something similar to when you hover on a closing bracket and it shows the opening if it is outside of current view range. Or like with search featu

[2019-08-16 09:12] szhorvat commented on #132
More thoughts on this:

If this feature always inserts just a single line at the top level, that makes it a less risky action than other types of refactorings.

(There are many ways to implement this, e.g. one possibility is to move the `::usage` to the export section. That would not only insert a line, but also delete one. That's more risky.)

[2019-08-16 09:15] kubaPod commented on #132
For me a symbol is fine enough for me as I keep my messages next to implementation. (I ofc know that not everyone does this).

[2019-08-16 21:25] halirutan commented on #91
@szhorvat OK, this took a whole night and was only one line of code, but I had to debug through a large portion of the IntelliJ API to understand what happens. This should work now and many similar cases too. I even had to a new action that shows which symbol references to which other symbol. This action will be available under the **Wolfram Language | Debug** menu and gives for the following situ

[2019-08-16 21:33] #91 closed, assigned to halirutan

[2019-08-17 19:14] szhorvat opened #133 ""Go To Declaration" for messages also picks up where the message appear in the RHS of a definition"
Sometimes I define a message attached to symbol `A` to have the same text as a similar message attached to symbol `B`. Here's an example:

[code]

If I now go to `Message[foo::bar]` and trigger "Go To Declaration", it will offer two hits. One is the actual definition of `foo::bar`, but the other one is a different definition in which `foo::bar` appears only on the RHS.

![image](https://user-image

[2019-08-18 03:57] #131 closed, assigned to halirutan

[2019-08-18 04:00] halirutan commented on #131
I fixed this and made a small addition to the warning message which now shows the `PatternTest` how it *would* be evaluated. This probably makes it more clear to the user what exactly is wrong

![image](https://user-images.githubusercontent.com/511683/63219954-68830300-c17d-11e9-8b85-a42f61254320.png)

[2019-08-19 16:12] #133 closed, assigned to halirutan

[2019-08-19 16:14] halirutan commented on #133
@szhorvat Thanks! Indeed, I didn't check if the `foo:bar` was on the LHS of the `=`.

[2019-08-19 16:18] halirutan commented on #107
Fixed

[2019-08-19 16:18] #107 closed, assigned to halirutan

[2019-08-19 23:40] halirutan commented on #35
Duplicate of #132

[2019-08-19 23:40] #35 closed

[2019-08-19 23:42] halirutan commented on #31
Unfixable without reworking how numbers are tokenized and parsed.

[2019-08-19 23:42] #31 closed

[2019-08-20 02:01] halirutan opened #134 "Unused symbol inspection with Function[Null, ...]"
That should not happen

![image](https://user-images.githubusercontent.com/511683/63311668-22ee4380-c2ff-11e9-9365-453093e29ca5.png)

[2019-08-20 02:43] halirutan commented on #134
Fixed in beta build

[2019-08-20 02:43] #134 closed, assigned to halirutan

[2019-08-20 02:44] halirutan commented on #98
I have heavily improved what is actually suggested for completing local variables. Please check if something is broken

[2019-08-20 02:44] #98 closed, assigned to halirutan

[2019-09-18 19:41] szhorvat opened #135 "ParallelTable should localize variable"
`ParallelTable` should localize variables like `Table` does.  Tested in version 2019.2.2.

[code]

![image](https://user-images.githubusercontent.com/1212871/65180318-e5471c80-da5c-11e9-8a93-3005c3edbb30.png)

[2019-09-23 18:46] gdelfino opened #136 "Support for Notebook Hyperlinks"
Notebook Hyperlinks are supported by Workbench as described here:

https://reference.wolfram.com/workbench/index.jsp?topic=/com.wolfram.eclipse.help/html/tasks/notebook/hyperlink.html

I would like to request this feature in order to be able to link from my code to descriptions in notebooks and also to be able to link to tests.

I am new to IntelliJ, so maybe this is already available in a differe

[2019-10-05 16:47] szhorvat commented on #135
How can we find all functions that should localize variables?

Here's an attempt: which functions have "LocalVariables" `SyntaxInformation`?

[code]

Result:

[code]

Well, that's a lot ... and most should probably not be handled by the WL plugin.

The docs say that the "LocalVariables" setting in `SyntaxInformation` has the form `{type, args}`. Let's group the results by type.

[code]

We get

[c

[2019-10-06 02:37] halirutan commented on #135
@szhorvat I fixed several of them and I appreciate a lot that you dug this up in such a structural way. I will leave this issue open because I'd like to fix some more of the plot-functions that are missing.

[2019-10-07 16:52] ayaka209 opened #137 "License question."
I read your License page https://wlplugin.halirutan.de/docs/licensing/

But, for Intellij IDEA, Personal License can be used for personal commercial project.
EULA shown in marketplace page also didn't mention the commercial use.

Please clarify whether the license for individual purchased from the marketpace can be used for commercial projects.

Thank you.

[2019-10-08 15:14] halirutan commented on #137
I know that I should clear this section up, but the JB Marketplace is still not ready for Community products, and most of my users don't have Ultimate anyway and can work with the WL plugin for free at the moment. Additionally, I'm neither a native English speaker nor a lawyer, and I have a particular distaste for the latter ones. It will be difficult for me to write the licensing part so that it

[2019-10-09 02:41] ayaka209 commented on #137
Thank you for the clarification.

[2019-10-10 09:03] #137 closed, assigned to nobody

[2019-10-10 12:49] gerli opened #138 "Cannot resolve symbol definition inspection in a pattern inside Shortest"
[code]
The `y` is not correctly detected as a named pattern (x is).

![Selection_1229](https://user-images.githubusercontent.com/6066719/66570036-6a61b500-eb75-11e9-8b99-c5fd989f4001.png)

[2019-10-23 08:55] szhorvat opened #139 "Incorrect "Unused local variable" inspection"
The "Unused local variable" inspection sometimes triggers incorrectly for a `Module` variable that is used as a value (i.e. right-hand-side of `=`) in the variable list of a second enclosed `Module`.

Code to reproduce it (probably not quite minimal, but almost):

[code]

Screenshot:

![image](https://user-images.githubusercontent.com/1212871/67375886-8d339680-f583-11e9-8dfc-0bd37ad3b360.png)

---

[2019-11-03 03:58] halirutan commented on #137
@ayaka209 I tried to be more concise on the [licensing page](https://wlplugin.halirutan.de/docs/licensing/). Most importantly, for now, I removed the restriction that private licenses need to be used for non-commercial projects only. I'll check with JB if they have a clear definition of personal and commercial plugin licenses.

[2019-11-03 05:15] ayaka209 commented on #137
@halirutan thanks, I have purchased one.

[2019-11-05 05:16] llyang opened #140 "Application for a free license"
I'm a theoretical physicist working at Peking University, Beijing, China. I and my students use Mathematica and Wolfram Language regularly for research. I'd like to apply for a free license of this great plugin. Thank you.

[2019-11-05 10:18] gerli opened #141 "Incorrect "Unused local variable" inspection for user-defined global variables"
In the following, `$MachinePrecision` is not flagged in the `Block` as unused (correct) but `$MyGlobalVariable` is flagged as unused (incorrect):

[code]

[2019-11-05 11:15] halirutan commented on #141
Yes, you are right. As you see for built-in symbols it doesn't show the warning, because it custom to set something like `$RecursionLimit` within a `Block`. I see your point, but the vast majority of people also use `Block` as a light-weight alternative to `Module` and they want to see warnings when they don't use a variable.

I'm not sure how to handle this. I mean, I can turn off the check for `

[2019-11-05 16:47] halirutan commented on #140
@llyang You should have received your license.

[2019-11-05 16:47] #140 closed, assigned to halirutan

[2019-11-06 00:24] llyang commented on #140
@halirutan Yes, thank you!

[2019-11-19 04:17] shrubbroom opened #142 "Application for a free license"
I am an undergraduate student in SJTU, Shanghai, China. And I use Wolfram language to make data analysis currently in a survey(my repo "TH020-Project") and do numerical computation in my math classes. I would like to apply for a free licence of this awesome plugin so that I can finish my work with Wolfram engine. Thanks a lot.

[2019-11-19 08:04] halirutan commented on #142
@shrubbroom For the license-assignment, I need your email address because your license will be bound to this address. If you don't want to make it public here, please send me a short email with your _university address_. You get my email address by looking it up in my GitHub profile or by evaluating this in Mathematica

[code]

[2019-11-19 08:43] shrubbroom commented on #142
My email address is
`Uncompress["1:eJxTTMoPChZjYGAozigqTUoqys/PdSjOKinVS00p1UvOAwCXvApi"]`
Regards.

[2019-11-19 10:38] halirutan commented on #142
@shrubbroom Ahh, sorry, and I need your name as this is also part of the license. I forgot that.

[2019-11-20 15:11] shrubbroom commented on #142
@halirutan Sorry for that ignorance, my name for JetBrain account is 'Ke Wu'.

[2019-11-22 15:41] halirutan commented on #142
@shrubbroom Granted and you should receive a mail with your license.

[2019-11-22 15:41] #142 closed, assigned to halirutan

[2019-11-22 15:59] shrubbroom commented on #142
Yes, much gratitude

[2019-11-28 05:30] AlexeyPopkov opened #143 "Application for a free license"
I'm a scientist working in academia and I'm also an active member of the Mathematica.SE community:

https://mathematica.stackexchange.com/users/280/alexey-popkov

I'm planning to use the plugin in conjunction with the Free Wolfram Engine for Developers for participation in the community and development of some free extensions of the WL in situations when I have to work on a computer without the la

[2019-11-28 16:30] halirutan commented on #143
Hey Alexey,

please send me an email to

[code]

with your academic email account and provide a link that verifies your affiliation with the institute (e.g. your staff page).

[2019-11-30 07:03] AlexeyPopkov commented on #143
Hi Patrick,

I sent you an email. Did you get it?

[2019-11-30 17:24] atom-sun opened #144 "Application for a free license"
I'm a graduate student in physics and I'm also an active member of the Mathematica.SE community:

https://mathematica.stackexchange.com/users/29489/atoman

I'm planning to use the plugin in conjunction with the Free Wolfram Engine for Developers and IntelliJ softwares for doing calculation in scientific research.

Some code using Wolfram language can be found here: https://github.com/atom-sun/cher

[2019-11-30 19:50] halirutan commented on #143
@AlexeyPopkov Yes, I did! It was a bit hectic in the last days. I already forwarded your request to Jetbrains the day you sent me the mail.

[2019-12-02 14:27] halirutan commented on #143
@AlexeyPopkov Jetbrains told me that you don't have a Jetbrains account yet. Two things:

1. If you don't have a JB account, then you also don't use IDEA Ultimate or any other of the paid products. If you use IDEA Community, however, you can currently simply install the WL Plugin. This will change next year but for now the plugin is free on Community products.
2. If you do have a JB account, then

[2019-12-02 14:28] halirutan commented on #144
Please send me a mail with your full name and the email address you used for your Jetbrains account to

[code]

[2019-12-03 01:27] AlexeyPopkov commented on #143
Thanks Patrick,

I have created an account registered on my academic email address.

[2019-12-03 08:21] atom-sun commented on #144
Sent.

[2019-12-03 12:59] halirutan commented on #144
@atom-sun Granted. You should have received a mail with your license.

[2019-12-03 12:59] #144 closed, assigned to halirutan

[2019-12-03 13:04] halirutan commented on #143
@AlexeyPopkov Jetbrains still cannot find an account with your academic mail address. Can you log into [https://account.jetbrains.com/](https://account.jetbrains.com/), go to **Account** and make a screenshot. There should be your name and mail address visible and you could make a screenshot and send it to me.

[2019-12-03 15:30] halirutan commented on #143
Granted

[2019-12-03 15:30] #143 closed, assigned to halirutan

[2019-12-25 15:57] edwardtao opened #145 "Application for a free license"
To get a free license, I need some information. In the issue description, please provide information about how you want to use the plugin:

1. Links to open-source projects
2. Information about academic or class-room usage

From this information, it must become clear that you are [eligible to obtain a free license](https://www.jetbrains.com/store/?fromNavMenu#discounts?billing=yearly). Furthermore

[2019-12-25 16:47] #145 closed, assigned to halirutan

[2019-12-27 14:12] oovm opened #146 "Incorrect symbol definition resolve"
[code]

![image](https://user-images.githubusercontent.com/17541209/71520189-c971d300-28f5-11ea-8c3e-41056aac20b3.png)

[2019-12-27 20:25] halirutan commented on #146
That looks like an oversight in my parser for the "implicit multiplication" that happens between `() ()`. I'll look into it. Great short bug report! Thanks.

[2019-12-28 22:06] MrHirenP opened #147 "Module, Block, With all collapse. CompoundExpression[...] should also collapse."
Some functions don't need any local variables.  For those, I use CompoundExpression[...] to group the code as in:

[code]

<img width="97" alt="With-collapse" src="https://user-images.githubusercontent.com/26680488/71549989-b570b480-297b-11ea-8377-6e084e216a4e.png">

<img width="182" alt="CompoundExpression-nocollapse" src="https://user-images.githubusercontent.com/26680488/71549985-ac7fe300-297b-

[2020-01-16 17:22] mgroth0 opened #148 "Navigate to symbols from another file"
**Describe the bug**

I cannot navigate to the definition of a symbol in another file.

**To Reproduce**

Create two files:

### a.wl
[code]

### b.wl
[code]

Running `wolframscript -f a.wl` correctly outputs `2`.

**Expected behaviour**

While editing a.wl, I'd like to be able to navigate to symbolTwo inside of b.wl. When I use the shortcut assigned to navigate while selecting `symbolOne`, I get

[2020-01-16 21:59] halirutan commented on #148
Short answer:

- Ensure your files are within a [project module](https://wlplugin.halirutan.de/docs/projects-modules/) and marked as source
- Give the symbols you want to be visible throughout file boundaries a usage message by defining

[code]

I take your example as what it is: A small example that you shouldn't do in real code, unless you know what you are doing.

The longer answer is: It is im

[2020-01-16 21:59] #148 closed, assigned to halirutan

[2020-01-18 21:16] mgroth0 commented on #148
I can confirm this works, and I am satisfied! Thank you.

[2020-02-05 01:29] halirutan commented on #146
@GalAster Just an update: I got a grip on this issue and I know its source. The problem is not your particular case (but kudos for providing such nice examples!). The main problem is that I need to get the parser working correctly so that it handles multiplication introduced by *some* whitespaces accurately.

[2020-02-05 02:41] #146 closed, assigned to halirutan

[2020-02-05 02:43] halirutan commented on #146
All tests pass, the parse-tree looks good and I cannot see any immediate issues. I'll include this fix in the next version.

[2020-02-05 16:55] GiovanniBordiga opened #149 "Application for a free license"
Hi there! First of all, great plugin!

I'm a PhD student in solid mechanics working at the University of Trento, Italy. I use Mathematica and Wolfram Language regularly for research and teaching purposes. I'd like to apply for a free license of this plugin.
Thank you.

[2020-02-06 01:13] halirutan commented on #149
@GiovanniBordiga Sure! Did you already create [a Jetbrains account](https://account.jetbrains.com/login) with the university mail address that I see on GitHub?

[2020-02-06 07:36] GiovanniBordiga commented on #149
@halirutan I created it now using the university mail address that you see on GitHub.

[2020-02-06 22:46] lynchs61 opened #150 "Documentation Build like Wolfram Workbench"
Building documentation for a paclet is tedious at best and I've never been able to successfully do it with anything other than Wolfram Workbench. It would be great if we could have similar functionality in this plugin because Eclipse really sucks compared to Intellij.

I have no idea if this is possible or how to go about it but I figured at least a discussion would be worth it.

[2020-02-07 09:12] halirutan commented on #149
@GiovanniBordiga Jetbrains can't find any accounts under your name. Can you login into your account, navigate at the top to "Your Account" and make a screenshot? Send it to my mail address and I'll forward it.

[2020-02-07 09:30] GiovanniBordiga commented on #149
@halirutan I've sent you the screenshot. Thanks a lot for your time!

[2020-02-07 14:16] #149 closed, assigned to halirutan

[2020-02-08 18:29] halirutan commented on #150
Over the years, I talked many times about this issue with different people. I'll give you the summary:

1. Building docs is only possible within WB and all tools needed for that (e.g. the Docu-Tools palette) are packed inside. As third-party developer, I cannot simply steal things from there. It would be unlawful and I would always be on the shady side, even if Wolfram doesn't take action.

2. The

[2020-02-08 19:33] szhorvat commented on #150
@lynchs61 All that said, can you clarify what you are looking for?

It is literally a single click in Workbench.  What exactly is the issue? Are you just looking to avoid starting Workbench at all?  Or is it some other problem with the documentation tools?

[2020-02-08 19:53] lynchs61 commented on #150
@szhorvat Yes I'm looking to avoid workbench completely. Basically to have the same process for building documentation in workbench, in Intellj with this plugin. Aside from the fact that I use the Jetbrains tools everyday so I'd rather not have to use a different IDE, I also just think Intellj is a much better product than eclipse. So it would be nice if paclet building could be completely done (i

[2020-02-13 08:45] szhorvat opened #151 "Symbols incorrectly offered from Global context during auto-completion"
When I explicitly trigger auto-completion, I get symbols in the Global context that should not be there.

Example:

Suppose we want ``Internal`NonNegativeMachineIntegerQ``. I often rely on auto-completion, because I can't remember which of these symbols is in which context (Developer, Internal, etc.)

Type `NagetiveMa` and press the shortcut for triggering completion. I see this:

![image](https:/

[2020-02-13 10:57] halirutan commented on #151
One important question is: How often did you press `Cmd`+`Space` before the global symbols appear? I have different "layers" of autocompletion and the more often you press it manually, the more things will appear in some contexts.

One suspicion I have is that you *used* `NegativeMachineIntegerQ` inside your file(s) and at some point, the autocompletion will suggest it because it will give you a l

[2020-02-13 11:08] szhorvat commented on #151
Firs I type `NonNegativeMa`, at which point there are no completions offered without asking for any explicitly. Then I use Code -> Completion -> Basic precisely once (I have different shortcuts assigned and I wanted to make sure that there is no mistake made, so I used the menu this time). Then I get this:

![image](https://user-images.githubusercontent.com/1212871/74428479-5bf41480-4e59-11ea-958d

[2020-02-13 11:30] halirutan commented on #151
Thanks! Let me have a look at this.

[2020-02-14 00:23] halirutan commented on #151
@szhorvat The good news is that your specific issue was an oversight of me. I did not exclude the ``Global` `` context when scraping the kernel for all available symbols. The symbols are put in JSON files and used for autocompletion.

The scary part is that *something* polluted the global context when I did nothing more than accessing available symbols. Sure is that I never used `NonNegativeMachin

[2020-02-14 00:28] halirutan commented on #151
Btw, the source code that is used for gathering all information [is public](https://github.com/halirutan/Wolfram-IntelliJ-Tools/blob/master/IntelliJTools/IntelliJTools/IntelliJTools.m#L88-L98). Something like this

[code]

will create 5 JSON files under the specified directory with all information.

[2020-02-19 10:54] shrubbroom opened #152 "Incompatible with PyCharm 2019.3.2"
Plugin incompatible with PyCharm 2019.3.2

I once used the plugin for development in older version of PyCharm, and it works well. However the plugin is incompatible with the current PyCharm verion after the last few updates and it shows that the plugin doesn't have a proper licence. I would be likely to code the .m script in PyCharm since I don't use Java so much as the Python. Could you help to c

[2020-02-19 23:40] halirutan commented on #152
Since 2019, the Wolfram Language Plugin (WLP) is available through the Jetbrains Marketplace which means you need a paid or free license to use it. This step was necessary since the WLP had failed to become an open-source project with several developers working on it.

The reason why you could use it on PyCharm Community is that until the end of 2019, the licensing check was not implemented by Jet

[2020-02-19 23:40] #152 closed, assigned to halirutan

[2020-02-20 05:49] shrubbroom commented on #152
Thanks for your kind and comprehensive reply.

I have applied the licence for students at [issue#142](https://github.com/halirutan/Wolfram-Language-IntelliJ-Plugin-Archive/issues/142), and it was successful. And I am currently using the professional version(version 2019.3.2, build PY-193.6015.41) but not the Community version of PyCharm.

However what's werid is that the plugin page shows that pul

[2020-02-20 06:01] shrubbroom commented on #152
Sorry for that disturbing. I have my plugin work correctly after I reinstall it. I am currently using the PyCharm professional and have a student licence. Weird that it shows the plugin is neither compatible nor licensed before the reinstalling. Everything goes well now. Thanks for your kind reply. Besides, this is really a fancy plugin.

[2020-02-20 10:26] halirutan commented on #152
@shrubbroom One possible explanation is that you tested on PyCharm 2020 EAP. Is this possible? At the moment, the plugin is not compatible with the new 2020 versions, but I've fixed almost all issues and I will release a new plugin version soon. This will for testing only be available in the *beta* channel and you can [read here](https://wlplugin.halirutan.de/docs/installation/#using-eap-beta-rele

[2020-02-20 10:57] shrubbroom commented on #152
However I am now on the stable release by not the EAP version with PyCharm. And the problem occurs since the last update. From my perspective, this may be a probelm of PyCharm's auto-update for plugins since only after I manually install the Wolfram Language from the market again did the PyCharm get the correct compatible version. In one word, reinstall should be the first try to fix such kind of

[2020-02-20 22:30] gdelfino opened #153 "Symbols in separate files with same context not being found."
**Describe the bug**
I have a long package that is divided in several files while still using a single context. Symbols defined in other files are not being found.

This style of partitioning a package is described as "multi-fragment (multi-file) project, single namespace" in https://mathematica.stackexchange.com/a/176489/251

**To Reproduce**
A minimal example screenshot is provided.

**Expected

[2020-02-21 18:56] halirutan commented on #152
@shrubbroom Another user could reproduce the problem. If it occurs again, please report back here and I'll investigate with Jetbrains why this happens. Thanks for the report!

[2020-02-21 19:59] halirutan commented on #153
Analyzing contexts is quite hard and one would need to evaluate code to calculate the correct context for a symbol. Since I haven't found a reliable and fast solution (since it basically needs to happen on the fly for each keystroke), the plugin uses a simpler approach. In indexes `::usage` messages and provides cross-file completion for all symbols that have one.

You can read about details [in t

[2020-02-21 21:20] gdelfino commented on #153
Thank you for the clarification. In practical terms this is no longer an issue for me.

[2020-02-21 21:20] #153 closed, assigned to halirutan

[2020-02-21 21:33] szhorvat commented on #153
"New-style" packages have served me *very* well, and they are compatible with the WL plugin.

https://mathematica.stackexchange.com/questions/176434/declaring-package-with-dependencies-in-multiples-files/176489

https://mathematica.stackexchange.com/questions/184711/what-to-be-aware-when-using-new-style-package

[2020-02-27 19:53] gdelfino opened #154 "Could not resolve symbol definitions when using full context."
**Describe the bug**
When the full context is used to refer to a symbol, the unresolved symbol inspection fails.

**To Reproduce**
A minimal example is show in the screenshot below.

**Expected behaviour**
Fully scoped symbols should be recognized. If this is not viable I would expect them to be ignored by this inspection.

**Screenshots**
![IntelliJ-FullContextIssue](https://user-images.githubuse

[2020-03-02 01:39] halirutan commented on #154
You are right, this is not handled well, but the warning has a reason: It tells you that refactoring such as renaming will most likely not do the correct thing. You can turn the whole inspection off if you like, which was the default behavior of the last major version.

It all boils down to the same reason I described [in your last issue](https://github.com/halirutan/Wolfram-Language-IntelliJ-Plug

[2020-03-03 04:32] halirutan commented on #135
Alright, I made an effort to convert the symbol-information into the format I'm using to see what's necessary to include more. Two questions:

- Am I right that we only know from experience which forms a specific "localization type" can have_, For instance, the possibilities for `Manipulate` are horribly complex and not even Mathematica supports all possible forms of local variable specification.

[2020-03-04 13:36] gerli commented on #141
I'm not sure if this would be viable but would it be possible to not highlight $variables? This is a naming convention for global variables after all...

There definitely are more uses outside $variables where you might not use the exact symbol inside the Block but perhaps that would catch some of the values?

[2020-03-04 15:39] szhorvat commented on #141
This is just opinion, but my preference would be to apply the principle of least surprise: do the  simple, predictable thing.

If it were possible for the plugin to fully understand Mathematica code and always make the correct decision, it would be good to do that. But this is not possible. So now there is a choice:

 - Apply simple rules that result in imperfect highlighting, but users can easily

[2020-03-05 04:06] #141 closed, assigned to halirutan

[2020-03-05 04:17] halirutan commented on #141
@gerli Although I agree with Szabolcs, I also see your point. However, the "this is a naming convention" part is absolutely not true. I've seen people using all kinds of personal formatting conventions, many of which are not even consistent within a single notebook.

But your point of `Block` passing down the localized values to `f[]`, so that local variables do not necessarily appear in the body

[2020-03-05 04:24] halirutan commented on #150
I'll leave this open as a feature request, but don't expect a solution in the near future. First WRI needs to provide an official specification of how to build documentation with a Wolfram Kernel only. In the worst case, they consider other solutions like building it into the front end without the possibility to start it from a different process.

[2020-03-05 04:41] #147 closed, assigned to halirutan

[2020-03-05 04:43] halirutan commented on #147
Et voilà:

![img](http://i.imgur.com/GwpQbrH.png)

Available in the next [prerelease version](https://wlplugin.halirutan.de/docs/installation/#using-eap-beta-releases).

[2020-03-05 05:12] halirutan commented on #139
Yep, when shit hits the fan... This will take another session to fix, but I identified the problem.

[2020-03-21 05:44] halirutan opened #155 "Local Table variables are not highlighted in the default light color scheme"
In the light color scheme, local variables of e.g. `Table` are not highlighted as local:

![image](https://user-images.githubusercontent.com/511683/77220314-2ec51100-6b3f-11ea-8395-247d50a88d68.png)

[2020-03-21 05:47] halirutan commented on #155
Fixed in the development version.

[2020-03-22 08:35] halirutan opened #156 "Autocompletion shows System symbols without "System`" in the gray type text"
Some symbols like `Normalized` are ``System` `` symbols and do pop up in the autocompletion. However, as opposed to other symbols like `Plot` they don't have the gray type text on the right side that shows their context.

[2020-03-22 08:41] halirutan commented on #156
The error was that these symbols are not in `"SystemFiles/Kernel/TextResources/English/FunctionInformation.m"` and I add them separately to the completion result. Fixed in dev version.

[2020-03-22 08:42] #156 closed, assigned to halirutan

[2020-03-22 08:42] #155 closed, assigned to halirutan

[2020-03-26 05:49] halirutan opened #157 "Awkward green highlighting in autocompletion"
Autocompletion popup in light mode shows an ugly green color. It's not coming from the WL Plugin, but maybe I can do something about it:

![image (1)](https://user-images.githubusercontent.com/511683/77614729-f1d98f80-6f2d-11ea-9ff0-2e2bd80ad334.png)

[2020-04-09 21:32] simonkeys commented on #118
My project makes heavy use of `\[CenterDot]`, `\[Vee]`, and `\[Wedge]`. It would be a huge benefit to me if these were supported!

[2020-04-10 00:34] halirutan commented on #118
@simonkeys At the moment and for the foreseeable future, I have to explicitly ban the usage of named character operators. That means, the plugin recognizes them, knows that these named characters are operators (and cannot be part of symbol names), and marks them as unsupported. The solution is to use `CenterDot[x, y]` instead of `x \[CenterDot] y` which is (a) shorter and (b) the order of evaluati

[2020-04-14 17:35] alexishughes opened #158 "Application for a free license"
To get a free license, I need some information. In the issue description, please provide information about how you want to use the plugin:

1. Links to open-source projects
anything you can find github.com/alexishughes is open source, but there's not much there worth a lot.
2. Information about academic or class-room usage
I am a student at Sussex University (MSc Computing) and my student email ad

[2020-04-14 17:53] alexishughes commented on #158
FYI github.com/alexishughes/calc3 is quite good work but not complete

[2020-04-14 19:33] halirutan commented on #158
Thanks for your interest! I requested a free license for you and report back soon.

[2020-04-15 21:52] halirutan commented on #158
@alexishughes Your license has arrived :)

[2020-04-15 21:52] #158 closed, assigned to halirutan

[2020-04-16 17:22] hbuchman opened #159 "Symbols Not Tracked"
This isn't really an issue but I'm not sure how else to send a message. My entire organization uses your plugin. It's amazing. Any way we could get your help to add our internal symbols to the autocomplete?

[2020-04-16 17:50] halirutan commented on #159
This is nice to hear :)

Yes, if you've set up your project correctly then the plugin will index everything and provide autocomplete, navigation, and doc-lookup even for internal packages. Question: Have you read carefully through these two pages:

- https://wlplugin.halirutan.de/docs/projects-modules/
- and especially https://wlplugin.halirutan.de/docs/libraries/

There are some caveats and I'm h

[2020-04-21 12:29] alexishughes commented on #158
hi @halirutan, forgive my ignorance, instructions do not seem to work for CLION2020 or IDEA2020,
Particularly, "Browse Repositories" does not exist in the Apps. I was able to download Wolfram-IntelliJ-Plugin-2019.3.zip and tried to install from disk (using the zip file) but it waid it was incompatible.

Should I download previous version of IntelliJ or are there newer plugins or am I missing somet

[2020-04-21 13:22] halirutan commented on #158
Hey Alexis,

the version for 2020 is stable but since I want to finalize it and double-check support for Mathematica 12.1, it's still in the beta repository. Therefore, you just need to add Jetbrains beta repository to your list. It's only one step and I have described here how to do it

[Using EAP (beta) releases](https://wlplugin.halirutan.de/docs/installation/#using-eap-beta-releases)

I still

[2020-04-21 14:22] halirutan commented on #158
@alexishughes Sorry for not reading carefully enough. The IntelliJ Plugin settings basically work the same but got a slightly different UI. I have written "Browse repositories" on the WL Plugin webpage, but this is now simply "Marketplace" and you can search in the search bar on top. So

1. Subscribe to the beta repository as described in the documentation
2. Klick the Marketplace tab and search f

[2020-04-22 12:44] alexishughes opened #160 "Basic Documentation: How can I get started with Idea/CLion"
Hi @halirutan, I have only used Mathematica once with an IDE - I got Visual Studio to add 2+2 and the module was defined in Mathematica. I feel sure your plugin will be a lot cooler to use - what I need is a few concrete examples -

1: I have successfully added a new Wolfram Mathematica Package (wolfram1.m) to my Java project, how can I call it from the Java application?

2: If I were more advance

[2020-04-23 01:34] halirutan commented on #160
To avoid any confusion: IntelliJ IDEA and CLion don't calculate anything. These are environments to help you _write_ code efficiently and _manage_ your projects. All code is run by (1) your machine in case of compiled C/C++ programs, (2) the Java runtime in case of Java, and (3) Mathematica (or a Wolfram Language Engine) in case of Wolfram Language code.

That being said, here are some links to do

[2020-04-23 01:34] #160 closed, assigned to nobody

[2020-04-23 12:20] alexishughes commented on #160
Thanks, Patrick. I knew it was a link. I thought the plugin might be able to start Mathematica and run the code. I was also wondering about bindings to Java/C++. Obviously efficient way to do Canny/Laplacian is just to link to OpenCV etc. But I was looking for more versatility - and a none-too-trivial first project. This info is excellent.

[2020-04-23 12:27] szhorvat commented on #160
For calling C or C++ functions from Mathematica, see https://mathematica.stackexchange.com/q/8438/12

However, interoperability between Mathematica and other systems really has nothing to do with the IntelliJ plugin. The plugin does not help you in doing this.

[2020-04-23 12:30] szhorvat commented on #160
New users often believe that this IDE is an alternative interface to Mathematica. That is not the case, and IMO it should not be an aim.

The usual workflow is that one edits a package file using the IDE while concurrently having the Mathematica Front End open. The package can be loaded and tested from a notebook.

Notebooks are excellent for interactive work, and should be the centre of your work

[2020-04-23 12:39] alexishughes commented on #160
Ty, @szhorvat, I'll work through all you and @halirutan have posted and I hope to use my notes to produce a newbies' guide.

[2020-04-24 00:03] adamhill opened #161 "IntelliJ 2020.1"
**Describe the bug**
The plugin does not show up in the Plugins Marketplace. And if you download the latest release it will not install into IJ 2020.1

**To Reproduce**
1. Goto the Plugins Marketplace.
2. Try to search for "Wolfram"
3. Nothing shows up.
OR
1. Download latest ZIP from the releases Tab on Github. (mathematica-intellij-plugin-3.0beta1.zip)
2. Try to install from disk in the Gears men

[2020-04-24 07:05] halirutan commented on #161
@adamhill Do you already have a free or paid license? If not, please read [here first](https://wlplugin.halirutan.de/docs/licensing/).

To get the plugin version for IntelliJ 2020 products, please [read here](https://wlplugin.halirutan.de/docs/installation/#using-eap-beta-releases) and add the beta repository so that IntelliJ also searches there to find plugins.

[2020-04-26 18:10] TihiyTi opened #162 "Application for a free license"
Hi, i am from Bauman Moscow State University
Name: Aleksey Tikhomirov
mail: tikhomirov.an@bmstu.ru
I already have education JetBrains  account linked to this email

Thank you

[2020-04-27 12:24] halirutan commented on #162
You should have received your free license.

[2020-04-27 12:24] #162 closed, assigned to halirutan

[2020-04-29 05:33] #151 closed, assigned to halirutan

[2020-05-12 02:11] halirutan commented on #161
It's published now

[2020-05-12 02:11] #161 closed, assigned to halirutan

[2020-05-12 02:21] halirutan opened #163 "Exception due to UTF8 chars in auto-completion data"
See [this issue in the auto-reporter](https://github.com/Mathematica-IntelliJ-Plugin/Auto-generated-issues-for-the-Mathematica-Plugin/issues/164). It's coming from the UTF8 symbols of Sum, Integrate, and Product that slipped into the auto-completion data.

[2020-05-12 02:34] #163 closed, assigned to halirutan

[2020-05-12 02:55] halirutan commented on #157
@szhorvat I can't reproduce it on my side. Do you still see this issue?

[2020-05-12 02:56] halirutan commented on #138
Fixed

[2020-05-12 02:56] #138 closed, assigned to halirutan

[2020-05-12 03:02] halirutan commented on #51
This should work now. It uses IntelliJ's methods to open notebooks (and cdf) natively through the operating system.

[2020-05-12 03:02] #51 closed

[2020-05-12 06:28] szhorvat commented on #157
Must have been an EAP issue. I cannot reproduce it either. Please close it.

[2020-05-12 06:31] halirutan commented on #157
Good

[2020-05-12 06:31] #157 closed, assigned to halirutan

[2020-06-10 10:33] ashotgasparyan opened #164 "Application for a free license"
To get a free license, I need some information. In the issue description, please provide information about how you want to use the plugin:

2. I am using Wolfram Mathematica in my research at Ruhr University Bochum, Germany.
https://inspirehep.net/authors/1072613#with-citation-summary

From this information, it must become clear that you are [eligible to obtain a free license](https://www.jetbrain

[2020-06-10 14:20] halirutan commented on #164
You should have received your free license.

[2020-06-10 14:20] #164 closed, assigned to halirutan

[2020-06-18 07:53] gerli opened #165 "Associations or comments don't currently allow collapsing"
Out of these three constructions, lists can be collapsed:
[code]

![Selection_534](https://user-images.githubusercontent.com/6066719/84993372-e626ef00-b151-11ea-8842-0b7eb1ad176f.png)

It would be nice if associations and multiline comments could also be collapsible.

[2020-06-30 17:42] szhorvat opened #166 "Precedence issue with ":""
**Describe the bug**

`x y : z` is parsed as `Optional[Times[x, y], z]`, according to the Wolfram Language -> Show FullForm menu item. This is also reflected in how the incremental selection works ("expand selection").

The correct parsing is `Times[x, Pattern[y, z]]`. There are two problems here: (1) precedence of `:` vs implicit multiplication (2) confusion between Optional and Pattern.

Let us

[2020-07-11 02:19] halirutan commented on #159
Closing for inactivity.

[2020-07-11 02:19] #159 closed, assigned to nobody

[2020-07-24 05:19] noshita opened #167 "Application for a free license"
To get a free license, I need some information. In the issue description, please provide information about how you want to use the plugin:

2. Information about academic or class-room usage
I use Wolfram Mathematica in my research projects at Kyushu University, Japan.

[Google scholar](https://scholar.google.com/citations?user=C3TzEA4AAAAJ)

From this information, it must become clear that you are

[2020-07-24 11:30] andreap72 opened #168 "Application for a free license"
To get a free license, I need some information. In the issue description, please provide information about how you want to use the plugin:

1. Links to open-source projects
2. Information about academic or class-room usage

From this information, it must become clear that you are [eligible to obtain a free license](https://www.jetbrains.com/store/?fromNavMenu#discounts?billing=yearly). Furthermore

[2020-07-24 11:31] #168 closed, assigned to halirutan

[2020-07-24 11:36] andreap72 opened #169 "Application for a free license"
To get a free license, I need some information. In the issue description, please provide information about how you want to use the plugin:

1. Links to open-source projects
https://github.com/GiovanniBordiga/BeamLatticeWaves

2. Information about academic or class-room usage
academic usage, specifically development of a Mathematica package for the analysis of lattice structures

From this informat

[2020-07-24 12:18] szhorvat commented on #169
I'm just a curious bystander who clicked on this linked and noticed that it gives a 404 not found error.

[2020-07-24 12:33] halirutan commented on #169
@szhorvat All good. It's *either* open-source *or* academia :)

@andrea I'll send you a mail with the licence

[2020-07-24 12:33] #169 closed, assigned to halirutan

[2020-07-24 12:43] szhorvat commented on #169
It was not a comment on eligibility. I was curious about the package.

[2020-07-24 12:45] halirutan commented on #167
I sent you a mail with the license

[2020-07-24 12:45] #167 closed, assigned to halirutan

[2020-07-29 20:02] GiovanniBordiga opened #170 "Incompatibility with IntelliJ IDEA CE 2020.2"
Hello everyone!
I haven't found other issues about this problem so I'm reporting it here.

**Bug description**
Looks like the plugin is incompatible with the latest version of IntelliJ IDEA CE 2020.2.
At launch the following error message appears

[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Update to IntelliJ IDEA CE 2020.2
2. Launch IntelliJ IDEA

**Expected behaviour**
Plugin s

[2020-07-29 20:22] halirutan commented on #170
Yes, this is correct. I've been working on some fixes and didn't realize that version 2020.2 is already out of beta. I'll be pushing an update in the next days.

[2020-07-29 21:10] GiovanniBordiga commented on #170
Thanks for the prompt reply. Looking forward for your update. Keep up the great work! :+1:

[2020-08-03 14:03] szhorvat commented on #170
Please post a note in this thread when the update is pushed. I'm holding off on the IDEA update until I know it'll be compatible with the WL plugin :-)

[2020-08-04 02:27] halirutan commented on #170
@GiovanniBordiga @szhorvat I pushed an update to the beta channel tonight. Adding the beta channel for plugins to your IDE is [only some clicks](https://wlplugin.halirutan.de/docs/installation/#using-eap-beta-releases) and it ensures that at least some other people except of me tried it before we push it to the main plugin channel.

It would be awesome if you tried it. Although I changed quite a b

[2020-08-04 11:44] szhorvat commented on #170
Updated and will let you know if I find any problems.

[2020-08-05 05:21] ChristopherMathematica opened #171 "Application for a free license"
To get a free license, I need some information. In the issue description, please provide information about how you want to use the plugin:
I go to a community college and I wanna build an app that teaches math for k-12.

1. Links to open-source projects
(I currently don't have any project links, but my github is ChristopherMathematica). I messaged you about this app before but fore some reason I c

[2020-08-05 05:34] halirutan commented on #171
Hey Christopher,

I can't find any email either. Please write me a mail to the address that you get when you evaluate

[code]

in Mathematica. I need some verification that you are actively enrolled in a college/school/university. That might be a website with your name on it or some scanned document.

[2020-08-05 05:41] ChristopherMathematica commented on #171
Could you remove my name after its finished. I am not sure if I want my name and school online but this is proof
![proof](https://user-images.githubusercontent.com/58499404/89375961-d2612900-d6bc-11ea-8311-9fe303b7f5eb.JPG)

[2020-08-05 05:50] halirutan commented on #171
OK, got it. I'll send you an email.

[2020-08-05 05:50] #171 closed, assigned to halirutan

[2020-08-07 00:18] simonkeys opened #172 "Application for a free license"
I use the WL plugin for developing the open source AtomicDensityMatrix package: http://rochesterscientific.com/ADM/

It's been really helpful! I would appreciate a free license if you think it is appropriate.

Simon Rochester
simon.rochester@gmail.com

[2020-08-07 01:56] halirutan commented on #172
That is a nice looking package page and I gladly provide a free license for you. I already sent you an email to the Gmail address with the necessary information.

[2020-08-07 03:40] simonkeys commented on #172
Great, thanks so much!

[2020-08-07 11:10] #172 closed, assigned to halirutan

[2020-08-11 03:41] halirutan commented on #170
Released to everyone some days ago.

[2020-08-11 03:41] #170 closed, assigned to halirutan

[2020-09-13 06:52] szhorvat opened #173 "Multiple occurrences of a symbol are not correctly highlighted"
**Describe the bug**
If I click on a word/symbol, all occurrences of that symbol should be highlighted. This no longer happens, *unless* I click on the symbol name inside of a usage message.

**To Reproduce**
Steps to reproduce the behaviour:
1. Type a symbol name multiple times
2. Create a usage message for the symbol
3. Move the cursor onto a symbol name either inside or outside the usage messag

[2020-09-13 10:55] halirutan commented on #173
Thanks a lot for the report. I could reproduce the issue. Resolving symbols, which is done here, has always required a lot of workarounds because IntelliJ didn't like that WL can have `$` in their symbol names. It seems the issue you found affects the "instant symbol resolution" used to highlight occurrences. Renaming still seems to work.

I need to dig deeper into the underlying cause.

[2020-09-18 08:25] szhorvat commented on #173
There's this weird thing where I see not one, but two entries for the same symbol in "Find Usages":

<img width="266" alt="image" src="https://user-images.githubusercontent.com/1212871/93574854-399b1a00-f999-11ea-9bbc-25ae4806b476.png">

One of them finds no usages, the other one finds what I expect.

I'll make a minimal example with a more complete description later. For now, I just wanted to men

[2020-09-30 18:24] subhodipbiswas opened #174 "Application for a free license"
To get a free license, I need some information. In the issue description, please provide information about how you want to use the plugin:

1. https://github.com/subhodipbiswas?tab=repositories
2. For optimization-based research involving real-world problems

From this information, it must become clear that you are [eligible to obtain a free license](https://www.jetbrains.com/store/?fromNavMenu#di

[2020-09-30 22:56] halirutan commented on #174
I sent you a mail with the license details. If something doesn't work out, feel free to contact me :)

[2020-09-30 22:56] #174 closed, assigned to halirutan

[2020-10-12 02:23] halirutan commented on #173
@szhorvat Just a quick update. I got a grip on this last weekend and I hope to push an EAP soon where we can test things carefully and tie up loose ends.

[2020-10-13 11:30] szhorvat commented on #173
Let me know when you pushed it in case I don't get the update automatically!

[2020-11-17 11:29] HydrogenDeuterium opened #175 "Application for a free license"
​To get a free license, I need some information. In the issue description, please provide information about how you want to use the plugin:

2. Information about academic or class-room usage
I believe a email address that including edu is enough

From this information, it must become clear that you are [eligible to obtain a free license](https://www.jetbrains.com/store/?fromNavMenu#discounts?billi

[2020-11-17 12:35] halirutan commented on #175
@HydrogenDeuterium The above text is only the "template" text that you need to replace. Please provide all information as stated in the text.

[2020-11-27 01:32] halirutan commented on #175
I believe this is the same person I granted a free license through mail communication.

[2020-11-27 01:32] #175 closed, assigned to halirutan

[2020-11-27 01:38] halirutan commented on #173
@szhorvat Can you try something for me, just to be sure? Go to **Help | Find Action** and search for "Registry". In the window that pops up, search for `ide.symbol.identifier.highlighting` and uncheck it. If that works, then I found the culprit and I need to assess the best way forward. In short, the identifier highlighting pass changed drastically which is why renaming and searching are not affec

[2020-11-27 09:27] szhorvat commented on #173
Yes, that works. Any bad effects from leaving it off?  This problem has really been bothering me and I was just thinking about pinging this issue yesterday.

[2020-11-27 10:44] halirutan commented on #173
No, there shouldn't be any. The commit that introduced the issue is [this one](https://github.com/JetBrains/intellij-community/commit/624c6851391537af8a1c7659c1ee0c6af4709b48#diff-6cd1dbc4807c63402830c5ee714cdbd11616fc76b4eae0e921da249aab3e1759R89-R95) and more specifically, you find these lines

[code]

So for some reason, the new default highlighting breaks it for WL and until now, we got this f

[2020-12-02 03:59] halirutan commented on #173
@szhorvat Please check out [the new beta](https://plugins.jetbrains.com/plugin/7232-wolfram-language/versions/beta/104315) which works for 2020.3 products. Don't forget to turn the registry key you changed back to the default.

[2020-12-02 16:20] szhorvat commented on #173
I'm running it, and after a quick check it looks to be working (I restored the registry key), but I might not have a lot of time to actually use it this work.

Thanks so much for fixing this! It was a tough nut.

[2020-12-04 09:44] GiovanniBordiga opened #176 "Incompatibility with IntelliJ IDEA CE 2020.3"
Hello!
This morning, I found a problem similar to #170.

**Bug description**
Looks like the plugin is incompatible with the latest version of IntelliJ IDEA CE 2020.3.
At launch, the following error message appears

[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Update to IntelliJ IDEA CE 2020.3
2. Launch IntelliJ IDEA

**Expected behaviour**
Plugin should be compatible with IntelliJ

[2020-12-04 13:48] halirutan commented on #176
Hey @GiovanniBordiga, the WL Plugin is currently only available as beta for the 2020.3 version. [Check here](https://wlplugin.halirutan.de/docs/installation/#using-eap-beta-releases) how you can add the beta plugin channel in IDEA.

I will release it soon officially, but I need to be at least somewhat certain that no computers are exploding with the new version.

[2020-12-04 14:01] GiovanniBordiga commented on #176
Gotcha, thanks!

[2021-01-22 18:16] JonMcLoone opened #177 "Wishlist: Structured selection expansion"
Only feature I miss, so far moving from Eclipse....

Grow the selection using multiple clicks (ideally) or keystroke, in a Mathematica-valid and precidence respecting way.

eg Multiclick  on b in  Total[{1,Sin[abc]}]
1 click cusor inserted
2 clicks abc selected
3 clicks Sin[abc] selected
4 {1,Sin[abc]} selected
5 whole expression selected

Right now the first two clicks give the same behavior, but

[2021-01-22 18:44] szhorvat commented on #177
Just in case you were not aware of the keyboard shortcut for this: Option-Up does it on macOS. (I'm not sure if it's possible with mouse clicks.)

EDIT: It's in Edit -> Extend Selection. You can check what is the shortcut key on your system in the menu.

[2021-01-22 20:03] kubaPod commented on #177
On Windows this unfortunately is <kbd>Ctrl</kbd>+<kbd>w</kbd>, RIP countless notebooks after switching to the FrontEnd :)

[2021-01-23 09:21] JonMcLoone commented on #177
Closing as RTM - thanks

[2021-01-23 09:21] #177 closed, assigned to nobody

[2021-01-23 10:23] szhorvat commented on #177
Ctrl-W is a weird choice, as it's a standard shortcut to close windows ...

You can reconfigure it to be Ctrl-. to be consistent with Mathematica.

[2021-02-09 18:02] BriceLecampion opened #178 "Application for a free license"
Hello,

I am a faculty at EPFL and am developing with the Wofram language both for research and also use it at the doctorate level for graduate courses.

Would it be possible to have a free license of the Wolfram Language Plugin ?

Name: Brice Lecampion
email address of my jet brains account : brice .lecampion@epfl.ch

Thanks a lot in advance
Prof. Brice Lecampion

[2021-02-10 07:52] halirutan commented on #178
Hey Brice,

I sent you an email with the license code.

[2021-02-10 07:53] BriceLecampion commented on #178
Thanks !
that’s great
brice

[2021-02-21 21:23] #178 closed, assigned to halirutan

[2021-03-24 05:02] smao-astro opened #179 "Function definition with pattern match: support for Set"
**Is your feature request related to a problem? Please describe.**
I am not sure is that I am doing something uncommon or this is an unimplemented feature. Basically rather than defining function using pattern match + `SetDelayed`, sometimes I prefer to use `Set`. While the plugin works smoothly for the first case, in the second case when I move my cursor onto parameters inside my function, I get

[2021-03-24 13:11] halirutan commented on #179
The thing is that `r` is not necessarily the "function parameter" when you use `Set`. Definitions with `=` tell Mathematica to evaluate the right side before doing the assignment. Consider the following situation where you evaluated a simple test-code prior to defining your function:

[code]

If you now do

[code]

you will get the following function definition for `AzimuthalVelocityInitial`

![im

[2021-03-24 13:11] #179 closed, assigned to nobody

[2021-04-09 07:53] JonMcLoone opened #180 "Bracket auto-close doesn't support comments or associations"
With bracket typing enabled type "("
and you automatimatically get "()"
However type "(\*" and you end up with "(\*)", an unterminiated comment. It would be better if you got "(**)"

Likewise typing "<|" is not recognized as a token needing closing.

[2021-04-09 12:41] szhorvat commented on #180
I often have sort of the opposite wish: just don't auto-add a closing comment, as it's more trouble than good. I know: I should get used to using the shortcut key for commenting out parts of the code (my most common use of comments). :-)

[2021-04-09 13:21] JonMcLoone commented on #180
I have mixed feelings about auto-bracket closing anyway. I am not used
to it so get more unwanted closes than I am being saved from missed
closes. But with (*) the partial close is the worst of both worlds.

I actually prefer the Mathematica FE way of cmd-/ 'comment out the
selection' rather then the IntelliJ 'comment out the line'. But that is
wish-list not a bug.

On 09/04/2021 13:41, Szabolcs H

[2021-04-09 13:25] szhorvat commented on #180
IntellIJ has not one, but two commenting shortcuts: one is for block comment, the other for line comment.

On my macOS system, the line comment is Cmd-/ and the block comment is Opt-Cmd-/

With Mathematica, "line comments" and what Cmd-/ does make no sense. This has been a long-standing annoyance for me, but I was too lazy so far to switch the keyboard shortcuts around. I think I am going to switc

[2021-04-09 14:05] JonMcLoone commented on #180
Thank you. My life just got a little better!

Just for the record, the biggest thing for me will be when imported
package symbols are supported and the "Could not resolve definition" go
away.

On 09/04/2021 14:26, Szabolcs Horvát wrote:

[2021-04-09 14:43] szhorvat commented on #180
This is already supported, with limitations. One must add the location of the external packages to the project. Then all symbols in the external package which have a `::usage` message will be considered public.  (At least, as I recall, currently usage messages are the only way that it identifies public symbols. I don't recall if `PackageExport` _without_ `::usage` is already supported. @halirutan

[2021-04-09 15:40] JonMcLoone commented on #180
I am talking about external to the file but within the project.

IE with a file layout...

/Kernel

     /init.m

     /package1.m

     /package2.m

And package 1 starts

BeginPackage["package1`",{"package2.m"}]

I get unknown markers on ever package2 symbol in the package1 source file.

I don't think its unreasonable to require usage messages for this to work.

The only thing that I can think of

[2021-04-09 16:14] szhorvat commented on #180
Do you get that even for symbols which had a usage in package2? That should not happen. Within a project, all symbols with a usage should be considered defined, regardless of which file they are defined in.

[2021-04-09 16:24] JonMcLoone commented on #180
I think we can call it an RTFM issue. Once, I knew it was supported I
tracked it down to not having set the source folder in the Project
Structure dialog. Not obvious, but the documentation was there for me to
read!

On 09/04/2021 17:15, Szabolcs Horvát wrote:

[2021-04-09 16:26] JonMcLoone commented on #180
I should add that I am VERY excited to have this working. Now the errors
in the margin are useful and the last reason to miss Eclipse has gone!

On 09/04/2021 17:15, Szabolcs Horvát wrote:

[2021-04-10 03:58] halirutan commented on #180
Hey Jon,

as usual, my un-paid head of tech-support, Szabolcs, was already faster with answering :)
Here is a quick list that hopefully helps and it assumes you're on Windows or Linux (Mac has slightly different shortcuts):

### Commenting

- Without any selection, you can always press `Ctrl`+`Shift`+`/` to get a new, empty `(**)` with the cursor inside
- Without any selection `Ctrl`+`/` will comm

[2021-04-10 03:58] #180 closed, assigned to halirutan

[2021-04-10 07:08] szhorvat commented on #176
This can be closed?

[2021-04-10 07:09] szhorvat opened #181 "IntelliJ 2021 compatibility"
IntelliJ 2021.1 is out and it would be nice to have a compatible beta version of the WL plugin.

[2021-04-10 08:35] JonMcLoone commented on #180
Thanks. Clearly I need to read more of the docs. Keep up the good work,
what I have learned in the last day has settled the issue that this is
now the recommended platform for my team.

On 10/04/2021 04:58, Patrick Scheibe wrote:

[2021-04-10 10:31] GiovanniBordiga commented on #176
Yep!

[2021-04-10 10:31] #176 closed, assigned to halirutan

[2021-04-10 18:18] halirutan commented on #181
It's ready and I planned to release it this weekend.

[2021-04-11 02:58] #173 closed, assigned to halirutan

[2021-04-11 03:16] halirutan commented on #165
In the next version, Associations will be foldable. Regarding comments, "sectioning comments" are already foldable and I'd like to leave it like that. So what you can do is structure your code into logical sections with these stylized comments. The advantage of that this approach is that your package files will look great when you open them in Mathematica. Please see the documentation here:

- [Fo

[2021-04-11 03:17] #165 closed, assigned to halirutan

[2021-04-11 07:09] szhorvat commented on #181
You can ping this issue when the beta is out?

[2021-04-13 05:56] halirutan commented on #181
I pushed it last night to the main repo, so everyone will get the update.

[2021-04-13 05:56] #181 closed, assigned to nobody

[2021-04-13 11:50] szhorvat commented on #181
Was the "What's New" box removed? I can't find it in the menu anymore.

[2021-04-14 00:41] halirutan commented on #181
Yes, as it was basically a repetition of the changelog that you can see in the IDE when you go to **Settings | Plugins | Wolfram Language** and check the description at the bottom. The changelog is also updated [on the Marketplace website](https://plugins.jetbrains.com/plugin/7232-wolfram-language). You should have seen a notification balloon with a clickable link to the changes though. But maybe

[2021-04-14 06:21] halirutan commented on #180
@JonMcLoone Now I can claim it's RTFM next time :)

https://wlplugin.halirutan.de/docs/commenting/

[2021-04-22 09:40] JonMcLoone opened #182 "Nested With statements cause incorrect error highlighting"
Code of the form
With[{a=1},With[{b=a},{a,b}]];
underlines the second "a" with an "Unused local variable" warning.

[2021-04-22 09:43] halirutan commented on #182
To my shame, I'm already aware of this issue for a long time (https://github.com/halirutan/Wolfram-Language-IntelliJ-Plugin-Archive/issues/139). It's not as trivial to fix as I thought but it's on my pain list.

[2021-04-22 09:43] #182 closed, assigned to halirutan

[2021-05-03 18:48] TihiyTi opened #183 "Application for a free license"
Hello,

I am a faculty at Bauman Moscow Technical University at the Faculty of Biomedical Technologies, and use Wolfram Mathematica and Wolfram Plugin for calculations in my research and teaching.

Can the free license for the Wolfram Language Plugin be renewed? I already received a license a year earlier.

Name: Alexey Tikhomirov
email address of my jet brains account : tikhomirov.an@bmstu.ru

Th

[2021-05-04 14:27] halirutan commented on #183
I sent you a mail with the license details.

[2021-05-04 14:27] #183 closed, assigned to halirutan

[2021-05-31 00:22] halirutan opened #184 "Recognizing Mathematica SDK doesn't work on MacOS"
It seems the SDK recognition is broken. Need to check for Win, MacOS and Linux again.

[2021-07-20 00:16] siegenth opened #185 ""Quick Documentation" feature displays my documentation, fails to display Wolfram's documentation."
**Describe the bug**

Placing cursor on a Wolfram function (ie ToUpperCase[]) and invoking 'Quick Documentation' should bring up function documentation - it does not.

If I put the cursor over a  function I created and invoke 'Quick Documentation' my documentation is displayed.
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...' Bring up Intellij.
2. Open '....'  Wolfram .ml file
3.

[2021-07-24 06:50] andreap72 opened #186 "Application for a free license"
To get a free license, I need some information. In the issue description, please provide information about how you want to use the plugin:

1. Links to open-source projects
2. Information about academic or class-room usage: **this license will be used for academic research**.

From this information, it must become clear that you are [eligible to obtain a free license](https://www.jetbrains.com/sto

[2021-07-25 00:33] halirutan commented on #186
Hey Andrea,

from now on, it's no longer required to ask for a free license. The Jetbrains Marketplace handles everything. If you already have an academic/open-source license for your Jetbrains products, you can directly go to the Wolfram Plugin marketplace site and get a free license. I've tried to outline what to do in the [documentation here](https://wlplugin.halirutan.de/docs/licensing/#free-l

[2021-07-26 06:27] andreap72 commented on #186
Hi Patrick,
I was able to renew the license following the instructions. The documentation is clear to me.
Many thanks!

[2021-07-26 11:26] halirutan commented on #186
Perfect. Thanks for reporting back.

[2021-07-26 11:26] #186 closed, assigned to halirutan

[2021-08-02 15:51] alecGraves opened #187 "12.3 NeuralNetwork` symbols are out of date."
**Is your feature request related to a problem? Please describe.**
Some of the symbols (specifically within the NeuralNetwork` package) are out of date. Some newer symbols are missing in autocomplete, and some old symbols should be removed.

**Describe the solution you'd like**
Could you regenerate symbol info for Wolfram Language 12.3 updates? I am not sure exactly how your plugin works, but it s

[2021-08-02 17:23] alecGraves opened #188 "Intellij 2021.2 Support"
**Is your feature request related to a problem? Please describe.**
The plugin will not install on IntelliJ 2021.2 because it requires a previous IntelliJ build.

[2021-08-03 02:39] halirutan commented on #188
Please try to install the beta build. See https://wlplugin.halirutan.de/docs/installation/#using-eap-beta-releases

At least for the next days, I'll want to see if some things got broken that weren't caught by the unit-tests before I push it to the main plugin repository.

[2021-08-03 03:43] halirutan commented on #187
I already downloaded the official versions 12.2 and 12.3 and the plan is to include both versions because the symbols are also used in the "Is this function available for my Mathematica version" inspection.

[2021-08-27 19:38] gdelfino opened #189 "Reformat code breaks new pure functions shortcut |->"
**Describe the bug**
Since WL 12.2 we can write pure functions like this:

    x |-> x+1

when this code is reformatted, a space is inserted after the vertical bar effectively introducing a bug in the code:

    x | -> x+1

**To Reproduce**
Steps to reproduce the behaviour:
1. Select code that includes a pure function with the new notation
2. Select "Format Code"  from the "Code" menu or press ALT

[2021-08-27 21:35] gdelfino opened #190 "Support for Enclose/Confirm symbols introduced in WL 12.2"
**Is your feature request related to a problem? Please describe.**
In version 12.2 of WL several symbols for were introduced for better handling/detection of failures. These are particularly useful for packages authors, the main audience of this plugin.  This includes `Enclose`, `Confirm`, `ConfirmAssert`, `ConfirmBy`, `ConfirmMatch` and `ConfirmQuiet`.  Usage of these symbols currently trigger th

[2021-08-27 21:56] gdelfino opened #191 "Reformat code breaks ApplyTo operator //="
**Describe the bug**
Since WL 12.2 we can replace `x` with `f[x]` with the `ApplyTo` operator like this:

    x //= f

when this code is reformatted, a space is inserted after the second slash effectively introducing a bug in the code:

    x // = f

**To Reproduce**
Steps to reproduce the behaviour:
1. Select code that includes the `ApplyTo` operator shortcut `//=`
2. Select "Format Code" from th

[2021-10-24 04:30] halirutan commented on #189
Yes, the new operators and syntax are still not incorporated into the parser which leads to operators not being recognized correctly. I have access to the latest Mathematica versions now and can start fixing things up.

Related: #190, #191

[2021-11-22 06:52] olivergrasl commented on #188
hi patrick - when is the update coming ... it would great to have a non-beta version soon.

[2021-11-30 13:15] introtp opened #192 "Plugin not found in Marketplace"
**Describe the bug**
Plugin not found in Marketplace

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Settings, Plugins, Marketplace
2. Search for "Wolfram Language"
3. No plugin found

**Expected behaviour**
To find Wolfram Language plugin to install

**Screenshots**
Attached

**Please also provide:**
 - OS: Windows 10, OS Build: 19042.1348
 - IntelliJ Product
PyCharm 2021.2.3 (Profes

[2021-12-02 09:43] introtp commented on #192
Reported the bug with Jetbrains on Youtrack as well

"PY-51859 Wolram Language plugin not available in Marketplace"
https://youtrack.jetbrains.com/issue/PY-51859

[2021-12-02 10:16] halirutan commented on #192
Please try again. Version 2021.3 is released now.

[2021-12-02 11:27] introtp commented on #192
Thanks for the prompt response now fixed. Will close the issue at Jetbrains too

[2021-12-02 11:27] #192 closed, assigned to halirutan

[2021-12-30 16:39] allancto opened #193 "menu item Wolfram Language .. FullForm"
should produce Slot[1], not Slot[#][]

Input:
Print[#]&["hi"]

Incorrect:
Function[Print[Slot[#][]]]["hi"]

Correct:
Function[Print[Slot[1]]["hi"]

[2022-02-12 00:40] PeterCullenBurbery opened #194 "Plugin not working"
The program's features in the following areas are not working (i.e., nothing happens):
autocompletion with Ctrl+Enter+Space
documentation lookup with Ctrl+Q
The last update was 2021.1 and Jetbrains IntelliJ IDEA Ultimate is now in 2022.1 EAP so I think somewhere compatability broke.

[2022-03-21 13:08] halirutan commented on #194
The version released today works for 2022.1 EAP

[2022-03-21 13:08] #194 closed, assigned to nobody

[2022-03-21 13:10] halirutan commented on #188
A new version that works for IntelliJ 2022.1 EAP is now available.

[2022-03-21 13:10] #188 closed, assigned to nobody

[2022-03-21 13:18] halirutan commented on #185
I believe to have identified the issue. It had nothing to do with the plugin but only that I use a CI for packaging and deploying it. In this step, the docs were missing.

I added unit tests for the docs (which are also run on the CI) for both Linux and macOS to be sure the docs are included in the build. Please use plugin version 2022.1.

[2022-03-21 13:18] #185 closed, assigned to halirutan

[2022-05-15 12:43] halirutan commented on #187
I'm closing this issue. I updated symbols, contexts and usage messages for Mathematica versions 12.2, 12.3 and 13.0. These changes will be part of the next release.

Here for instance is `NetArray` and `NetArrayLayer` which weren't included before:

![image](https://user-images.githubusercontent.com/511683/168473509-b0fd6abc-bea4-4884-9087-5b143a13f31f.png)

[2022-05-15 12:43] #187 closed, assigned to nobody

[2022-06-07 16:05] chenty0704 opened #195 "Variables in Manipulate[] are not highlighted"
**Describe the bug**
Variables in Manipulate[] are not highlighted as they should like in Table[].

**To Reproduce**
1. Type whatever Manipulate[] structure.

**Expected behaviour**
Variables being manipulated should be highlighted as in Table[] and other functions.

**Screenshots**
<img width="645" alt="image" src="https://user-images.githubusercontent.com/31037237/172428325-45e10d5f-0483-47b0-81

[2022-08-06 05:28] alecGraves commented on #150
Maybe the [new Paclet functions](https://reference.wolfram.com/language/guide/Paclets.html) could be used to automate this, though they seem pretty easy for users to just use as functions.